<div (click)="onStop($event)">
    @if (!isOpen()) {
    <div class="subtask-item pos-relative" (click)="onOpen()">
        <li class="li">{{ subtask.text }}</li>
        <div class="subtask-icon-cont">
            <button class="icon-btn edit" type="button" (click)="onEdit()"></button>
            <div class="icon-border"></div>
            <button class="icon-btn delete" type="button" (click)="onDelete()"></button>
        </div>
    </div>
    } @else {
    <form class="pos-relative" (submit)="onSave()">
        <input [(ngModel)]="subtask.text" name="subtask" class="subtask-input" type="text">
        <div class="subtask-icon-cont d-flex">
            <button class="icon-btn delete" type="button" (click)="onDelete()"></button>
            <div class="icon-border"></div>
            <button class="icon-btn check" type="button" (click)="onSave()"></button>
        </div>
    </form>
    }
</div>