@import "../../../mixins.scss";

.summary {
  @include box-padding($p: 110px 96px);
  min-height: 100%;
}

.content {
  @include display-column($g: 56px);
  height: fit-content;
}

.overview-greeting-cont {
  @include display-row($ai: center, $g: 80px);
}

.overview {
  @include display-column($g: 28px);
  width: 560px;
}

.task-row {
  @include display-row($jc: space-between);
}

.greeting-cont {
  @include display-column($g: 3px);
}

.greeting {
  @include font($fs: 47px, $fw: 500, $lh: 56.4px);
}

.user {
  @include font($fs: 64px, $fw: 700, $lh: 76.8px);
  color: $lightblue;
}

@media (max-width: 1439px) {
  .summary {
    padding: 64px 48px;
  }

  .content {
    gap: 48px;
  }

  .overview-greeting-cont {
    gap: 48px;
  }

  .greeting {
    @include font($fs: 36px, $fw: 400, $lh: 43.2px);
  }

  .user {
    @include font($fs: 47px, $fw: 700, $lh: 56.4px);
  }
}

@media (max-width: 1180px) {
  .greeting-animation {
    @include size($w: 100%, $h: 100%);
    @include display-column($jc: center, $ai: center);
    @include position($pos: absolute, $l: 0, $t: 0);
    background-color: $lightgray;
  }

  .summary {
    @include display-row($jc: center);
    padding: 48px 16px;
  }

  .content {
    max-width: 396px;
    gap: 40px;
  }

  .overview {
    width: 100%;
    max-width: 396px;
    gap: 24px;
  }

  .greeting-cont {
    padding: 16px;
    text-align: center;
    align-items: center;
  }
}

@media (max-width: 427px) {
  .overview {
    gap: 20px;
  }
}
