@import "../../../mixins.scss";

.summary {
  @include box-padding($p: 110px 96px);
  @include size($w: 100%, $h: calc(100vh - 96px));
  @include display-column();
  gap: 36px;
  overflow-y: scroll;
}

.title-cont {
  @include display-horiz($g: 30px);
}

.vector-cont {
  @include size($w: 3px, $h: 59px);
}

.vector {
  object-fit: contain;
}

.content {
  @include display-horiz($g: 80px);
  width: 100%;
}

.overview {
  @include display-column();
  width: 560px;
  gap: 28px;
}

.task-row {
  @include display-flex($jc: space-between);
  width: 100%;
}

// mixin?
.sum-task-a {
  @include max-size($w: 264px, $h: 168px);
  @include display-flex();
  cursor: pointer;
}

// urgent task component?
// mixin?
.urgent-task {
  @include max-size($w: 560px, $h: 168px);
  @include display-flex();
  cursor: pointer;
}

// mixin?
.sum-task-c {
  @include max-size($w: 168px, $h: 168px);
  @include display-flex();
  cursor: pointer;
}

.greeting-cont {
  @include display-column();
  gap: 3px;
}

.greeting {
  @include font($fs: 47px, $fw: 500, $lh: 56.4px);
}

.user {
  @include font($fs: 64px, $fw: 700, $lh: 76.8px);
  color: #29abe2;
}
