<section class="summary">
    <div class="title-cont">
        <h2 class="headline-2">Join 360</h2>
        <div class="vector-cont">
            <img class="vector" src="../../../assets/img/summary/title_vector.png" alt="vector">
        </div>
        <span class="subheadline-2">Key Metrics at a Glance</span>
    </div>

    <div class="content">
        <div class="overview">
            <div class="task-cont">
                <app-summary-task *ngFor="let task of summaryTasks" [summaryTask]="task"
                    class="summary-task"></app-summary-task>
            </div>
            <div>2</div>
            <div class="task-cont">
                <div>3A</div>
                <div>3B</div>
                <div>3C</div>
            </div>
        </div>
        <div class="greeting">right cont</div>
    </div>
</section>