<section class="summary">
    <app-join-title [title]="title" [subtitle]="subtitle"></app-join-title>

    <div class="content">
        <div class="overview">
            <div class="task-row">
                <app-sum-card [task]="tasks.toDo"></app-sum-card>
                <app-sum-card [task]="tasks.done"></app-sum-card>
            </div>
            <div class="task-row">
                <app-sum-card [task]="tasks.urgent"></app-sum-card>
            </div>
            <div class="task-row">
                <app-sum-card [task]="tasks.inBoard"></app-sum-card>
                <app-sum-card [task]="tasks.inProgress"></app-sum-card>
                <app-sum-card [task]="tasks.awaitingFeedback"></app-sum-card>
            </div>
        </div>

        <div class="greeting-cont">
            <span class="greeting">Good morning,</span>
            <span class="user">{{ user.name }}</span>
        </div>
    </div>
</section>