@import "../../../mixins.scss";

.summary {
  @include box-padding($p: 110px 96px);
}

.mobile {
  display: none;
}

.content {
  @include display-column($g: 56px);
}

.overview-greeting-cont {
  @include display-row($ai: center, $g: 80px);
}

.overview {
  @include display-column($g: 28px);
  width: 560px;
}

.task-row {
  @include display-row($jc: space-between);
}

.greeting-cont {
  @include display-column($g: 3px);
}

.greeting {
  @include font($fs: 47px, $fw: 500, $lh: 56.4px);
}

.user {
  @include font($fs: 64px, $fw: 700, $lh: 76.8px);
  color: $lightblue;
}

@media (max-width: 1180px) {
  .summary {
    @include display-row($jc: center);
    padding: 48px 16px;
    min-height: 100%;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: unset;
  }

  .content {
    max-width: 396px;
    gap: 40px;
  }

  .overview {
    width: 100%;
    max-width: 396px;
    gap: 24px;
  }

  .greeting-cont {
    display: none;
  }
}

@media (max-width: 427px) {
  .overview {
    gap: 20px;
  }
}
