@import "../../../../mixins.scss";

.header {
  width: 100%;
}

.login {
  @include box-padding($p: 67px 77px 0 77px);
  @include display-row($jc: flex-end);
}

.sign-up {
  @include box-padding($p: 116px 0 0 0);
}

.sign-up-cont {
  @include display-row($jc: flex-end, $ai: center, $g: 35px);
}

.sign-up-text {
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  color: $black;
}

.sign-up-btn {
  @include box-padding($p: 15px 16px);
  @include font($fs: 16px, $fw: 700, $lh: 19.2px);
  max-height: 49px;
}

@media (min-width: 1921px) {
  .header {
    box-sizing: unset;
    padding-left: calc(50% - 883px);
    padding-right: calc(50% - 883px);
    width: 1766px;
  }
}

@media (max-width: 1180px) {
  .login {
    @include box-padding($p: 37px 38px 0 38px);
  }

  .sign-up {
    @include box-padding($p: 86px 0 0 0);
  }
}

@media (max-width: 568px) {
  .login {
    @include box-padding($p: 80px 16px 0 16px);
    @include display-row($jc: center);
  }

  .sign-up {
    @include box-padding($p: 80px 0 0 0);
  }

  .sign-up-cont {
    @include position($pos: absolute, $l: 0, $t: 778px);
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 568px) and (min-height: 901px) {
  .sign-up-cont {
    @include position($pos: absolute, $l: 0, $t: calc(50% + 325px));
  }
}

@media (max-width: 568px) and (max-height: 900px) {
  .sign-up-cont {
    @include position($pos: absolute, $l: 0, $t: 775px);
  }
}
