@import "../../../../mixins.scss";

.header {
  width: 100%;
}

.login {
  @include box-padding($p: 67px 77px 0 77px);
  @include display-row($jc: flex-end);
}

.sign-up {
  @include box-padding($p: 116px 0 0 0);
}

.sign-up-cont {
  @include display-row($jc: flex-end, $ai: center, $g: 35px);
}

.sign-up-text {
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  color: $black;
}

.sign-up-btn {
  @include box-padding($p: 15px 16px);
  @include font($fs: 16px, $fw: 700, $lh: 19.2px);
  max-height: 49px;
}

@media (max-width: 428px) {
  .login {
    @include box-padding($p: 80px 16px 0 16px);
    @include display-row($jc: center);
  }

  .sign-up-cont {
    @include position($pos: absolute, $l: 0, $b: 70px);
    width: 100%;
    justify-content: center;
  }
}
