<div *ngIf="isOpened()" @dialogAnimation class="dialog" [ngClass]="getDialogClass()">
    <div class="transit-cont transition-none" [ngClass]="getTransitClass()" (click)="onClose()">
        <section class="dialog-box" (click)="onHandle($event)">
            <div class="button-cont">
                <button class="close-btn" (click)="onClose()"></button>
            </div>

            <form [formGroup]="form" class="form">
                <fieldset class="top-fieldset">
                    <app-title-input [control]="get('title')"></app-title-input>
                    <app-description-input [control]="get('description')"></app-description-input>
                    <app-due-date-input [control]="get('dueDate')" [calendar]="calendar"></app-due-date-input>
                </fieldset>
                <fieldset class="bottom-fieldset">
                    <app-prio-input [control]="get('prio')"></app-prio-input>
                    <app-assigned-to-input [control]="search" [assignedContacts]="get('assignedTo')"
                        [contacts]="contacts"></app-assigned-to-input>
                    <app-subtasks-input [control]="subtask" [subtasks]="get('subtasks')"></app-subtasks-input>
                </fieldset>
            </form>

            <div class="button-cont">
                <app-button [button]="okBtn" [disabled]="isIncomplete()" (click)="onUpdate()"></app-button>
            </div>
        </section>
    </div>
</div>