@import "../../../../mixins.scss";

.dialog-box {
  @include box-padding($p: 48px 40px);
  @include display-column($g: 24px);
  width: 525px;
  background-color: $white;
  border-radius: 30px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
}

.button-cont {
  @include display-row($jc: flex-end);
}

.form {
  @include display-column($g: 24px);
  height: 697px;
  overflow-y: auto;
}

.top-fieldset {
  @include display-column($g: 16px);
}

.bottom-fieldset {
  @include display-column($g: 24px);
}

@media (max-width: 1180px) {
  .dialog-box {
    padding: 32px 24px;
    margin: 16px;
    width: 100%;
    max-width: 396px;
    gap: 16px;
  }

  .form {
    gap: 8px;
  }

  .top-fieldset {
    gap: 8px;
  }

  .bottom-fieldset {
    gap: 16px;
  }
}
