@import "../../../../../mixins.scss";

.input-hint-cont {
  @include display-column($g: 4px);
  min-height: 136px;
}

.textarea {
  @include box-padding($p: 17px 15px);
  @include size($w: 100%, $h: 120px);
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  @include color-set($c: $black, $bgc: $white);
  @include round-border($b: 1px solid $gray, $br: 10px);
  font-family: $inter;
  transition: all 100ms ease-in-out;
  resize: none;

  &:focus {
    border: 1px solid $lightblue;
  }

  &::placeholder {
    color: $gray;
  }

  &::-webkit-resizer {
    opacity: 0;
  }
}

.resizer-cont {
  @include size($w: 18.9px, $h: 18.9px);
  @include position($pos: absolute, $r: 6px, $b: 22px);
  pointer-events: none;
}

.resizer {
  object-fit: contain;
}

@media (max-width: 1180px) {
  .input-hint-cont {
    min-height: 104px;
  }

  .textarea {
    @include font($fs: 16px, $fw: 400, $lh: 19.2px);
    padding: 17px 20px;
    height: 88px;
  }

  .resizer-cont {
    display: none;
  }
}
