@import "../../../../../mixins.scss";

.logo {
  @include size($w: 101px, $h: 122px);
  @include position($pos: absolute, $l: 77px, $t: 80px);
}

.path {
  transition: fill 800ms 200ms ease-in-out;
}

.dark-fill {
  fill: $dark;
}

.white-fill {
  fill: $white;
}

@media (min-width: 1921px) {
  .logo {
    left: calc(50% - 883px);
  }
}

@media (max-width: 1180px) {
  .logo {
    @include size($w: 64px, $h: 78px);
    @include position($pos: absolute, $l: 38px, $t: 37px);
  }
}
