@import "../../../../mixins.scss";

.title {
  @include font(20px, 400, 24px);
  color: #000000;
}

.button-group {
  @include display-horiz($g: 16px);
}

.help-link {
  @include size($w: 32px, $h: 32px);

  &:hover {
    img {
      transform: scale(1.2);
    }
  }
}

.profile-btn {
  @include size($w: 56px, $h: 56px);
  @include display-flex();
  padding: 0;
  background-color: transparent;
  border: 3px solid #2a3647;
  border-radius: 50%;

  &:hover {
    background-color: rgba(#0c2e62, 0.12);
  }
}

.initials-cont {
  @include min-size($w: 40px, $h: 40px);
  @include display-flex();
  padding: 8px;
}

.initials {
  @include font($fs: 20px, $fw: 700, $lh: 24px);
  color: #29abe2;
}
