@import "../../../../mixins.scss";

.title {
  @include font(20px, 400, 24px);
  color: $black;
}

.button-group {
  @include display-row($jc: center, $ai: center, $g: 16px);
}

.help-link {
  @include size($w: 32px, $h: 32px);

  &:hover {
    img {
      transform: scale(1.2);
    }
  }
}

.profile-btn {
  @include size($w: 56px, $h: 56px);
  @include round-border($b: 3px solid $dark, $br: 50%);
  @include display-flex();
  padding: 0;
  background-color: transparent;

  &:hover {
    background-color: rgba(#0c2e62, 0.12);
  }
}

.initials-cont {
  @include min-size($w: 40px, $h: 40px);
  @include display-flex();
  padding: 8px;
}

.initials {
  @include font($fs: 20px, $fw: 700, $lh: 24px);
  color: $lightblue;
}
