<header class="header">
    <span class="title">Kanban Project Management Tool</span>

    <div *ngIf="isButtonGroupDisplayed()" class="button-group">
        <a *ngIf="isHelpDisplayed()" routerLink="help" class="help-link">
            <img class="help-icon" [src]="src" alt="help">
        </a>
        <button class="profile-btn" (click)="onSwitch()">
            <div class="initials-cont">
                <span class="initials">RS</span>
            </div>
        </button>
    </div>
</header>