@import "../../../../mixins.scss";

.header {
  @include box-padding($p: 20px 40px 20px 96px);
  @include display-row($jc: space-between, $ai: center);
  min-height: 96px;
  background-color: $white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.title {
  @include font(20px, 400, 24px);
  color: $black;
}

.logo {
  @include size($w: 32px, $h: 40px);
  display: none;
}

.button-group {
  @include display-row($jc: center, $ai: center, $g: 16px);
}

.help-link {
  @include size($w: 32px, $h: 32px);
}

.help-icon {
  .help-link:hover & {
    transform: scale(1.2);
  }
}

.profile-btn {
  @include size($w: 56px, $h: 56px);
  @include round-border($b: 3px solid $dark, $br: 50%);
  @include display-flex();
  padding: 0;
  background-color: transparent;

  &:hover {
    background-color: rgba(#0c2e62, 0.12);
  }
}

.initials-cont {
  @include min-size($w: 40px, $h: 40px);
  @include display-flex();
  padding: 8px;
}

.initials {
  @include font($fs: 20px, $fw: 700, $lh: 24px);
  color: $lightblue;
}

@media (max-width: 1180px) {
  .header {
    padding: 20px 32px;
    min-height: 80px;
  }

  .title {
    display: none;
  }

  .logo {
    display: unset;
  }

  .profile-btn {
    @include size($w: 40px, $h: 40px);
    border: 2px solid $dark;
  }

  .initials-cont {
    @include min-size($w: 32px, $h: 32px);
    padding: 4px;
  }

  .initials {
    @include font($fs: 16px, $fw: 700, $lh: 19.2px);
    margin-top: 1px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 20px 24px;
  }
}

@media (max-width: 568px) {
  .header {
    padding: 20px 16px;
  }
}
