@import "../../../../../mixins.scss";

.category-input {
  @include display-column($g: 8px);
  overflow-y: hidden;
  transition: all 100ms ease-in-out;
}

.h-default {
  height: 80px;

  .input-list-cont {
    max-height: 48px;
  }
}

.h-selection {
  height: 176px;
}

.input-list-cont {
  @include display-column();
  background-color: $white;
  border-radius: 10px;
  position: relative;
}

.input {
  @include box-padding($p: 11px 49px 11px 15px);
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  @include color-set($c: $black, $bgc: $white);
  @include round-border($b: 1px solid $gray, $br: 10px);
  @include display-row($g: 10px);
  width: 100%;
  font-family: $inter;
  z-index: 4;
  transition: border 100ms ease-in-out;

  &:hover {
    border: 1px solid $darkgray;
  }

  &:focus {
    border: 1px solid $lightblue;
  }

  &::placeholder {
    color: $black;
  }
}

.read-only {
  cursor: pointer;
}

.drop-down-arrow {
  @include position($pos: absolute, $t: 12px, $r: 16px);
  z-index: 4;
  cursor: pointer;
}

.list {
  @include display-column();
}

.item {
  @include box-padding($p: 12px 16px);
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: #eeeeee;
  }
}

.text {
  @include font($fs: 20px, $fw: 400, $lh: 24px);
}

@media (max-width: 1180px) {
  .h-default {
    height: 74.4px;

    .input-list-cont {
      max-height: 47.2px;
    }
  }

  .h-selection {
    height: 160.8px;
  }

  .input {
    @include font($fs: 16px, $fw: 400, $lh: 19.2px);
    padding: 13px 49px 13px 15px;

    &:hover {
      border: 1px solid $gray;
    }

    &:focus {
      border: 1px solid $lightblue;
    }

    &:active {
      border: 1px solid $darkgray;
    }
  }

  .item {
    &:hover {
      background-color: unset;
    }

    &:active {
      background-color: $dark;
    }
  }

  .text {
    @include font($fs: 16px, $fw: 400, $lh: 19.2px);

    .item:active & {
      color: $white;
    }
  }
}
