@import "../../../../mixins.scss";

// think about cont classes and width classes ... !!!
// rename buttons and add button + ext ... !!!

.clear-btn {
  @include round-border($b: 1px solid $dark, $br: 10px);
  @include display-row($ai: center, $g: 4px);
  padding: 15px;
  background-color: transparent;
  transition: all 100ms ease-in-out;

  &:hover {
    border: 1px solid $lightblue;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  &:active {
    border: 1px solid $darker;
  }

  &:disabled {
    @include round-border($b: 1px solid $dark, $br: 10px);
    box-shadow: unset;
    opacity: 0.5;
  }
}

.cont-49 {
  @include size($w: 49px, $h: 24px);
}

.cont-63 {
  @include size($w: 63px, $h: 24px);
}

.clear-btn-text {
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  font-family: $inter;
  color: $dark;

  .clear-btn:hover & {
    color: $lightblue;
  }

  .clear-btn:active & {
    color: $darker;
  }

  .clear-btn:disabled & {
    color: $dark;
  }
}

.clear-btn-img {
  @include size($w: 24px, $h: 24px);

  .clear-btn:hover & {
    content: url("/assets/img/add-task/cancel_button_hover.png");
  }

  .clear-btn:active & {
    content: url("/assets/img/add-task/cancel_button_active.png");
  }

  .clear-btn:disabled & {
    content: unset;
  }
}

.create-btn {
  @include round-border($b: none, $br: 10px);
  @include display-row($ai: center, $g: 4px);
  padding: 16px;
  background-color: $dark;
  transition: all 100ms ease-in-out;

  &:hover {
    background-color: $lightblue;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  &:active {
    background: $darker;
  }

  &:disabled {
    background-color: $dark;
    box-shadow: unset;
    opacity: 0.5;
  }
}

.cont-122 {
  @include size($w: 122px, $h: 24px);
}

.create-btn-text {
  @include font($fs: 21px, $fw: 700, $lh: 25.2px);
  font-family: $inter;
  color: $white;
}

.create-btn-img {
  @include size($w: 24px, $h: 24px);
}

.slim {
  padding: 8px 16px;
}

.cont-92 {
  @include size($w: 92px, $h: 24px);
}

.img-32 {
  @include size($w: 32px, $h: 32px);
}

.prio-btn {
  @include display-flex($g: 10px);
  @include round-border($b: none, $br: 10px);
  padding: 0px 18px;
  background-color: transparent;
  cursor: default;
}

.prio-btn-text {
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  color: $black;
}

.settings-btn {
  @include display-row($ai: center, $g: 8px);
  padding: 0;
  background-color: transparent;
  border: none;
  flex-direction: row-reverse;

  img {
    @include size($w: 24px, $h: 24px);
  }
}

.w-49 {
  width: 49px;
}

.w-31 {
  width: 31px;
}

.settings-btn-text {
  @include font($fs: 16px, $fw: 400, $lh: 19.2px);
  color: $dark;

  .settings-btn:hover & {
    font-weight: 700;
    color: $lightblue;
  }
}

.edit {
  .settings-btn:hover & {
    content: url("../../../../assets/img/contacts/edit_blue.png");
  }
}

.delete {
  .settings-btn:hover & {
    content: url("../../../../assets/img/contacts/delete_blue.png");
  }
}

.cont-29 {
  @include size($w: 29px, $h: 25px);
}

.no-btn {
  padding: 7px 15px;
}

.yes-btn {
  padding: 8px 16px;
}

.h-24 {
  height: 24px;
}

.add-new-contact-btn {
  @include display-row($jc: center, $ai: center, $g: 16px);
  padding: 12px;
  width: 352px;
}

.h-25 {
  height: 25px;
}

.cont-146 {
  @include size($w: 146px, $h: 24px);
}

.cont-58 {
  @include size($w: 58px, $h: 24px);
}

.delete-btn-img {
  @include size($w: 24px, $h: 24px);

  .clear-btn:hover & {
    content: url("/assets/img/contacts/delete_blue.png");
  }

  .clear-btn:active & {
    content: url("/assets/img/contacts/delete.png");
  }

  .clear-btn:disabled & {
    content: unset;
  }
}

.cont-50 {
  @include size($w: 50px, $h: 24px);
}
