@import "../../../../mixins.scss";

.dialog-box {
  @include box-padding($p: 48px 40px);
  @include display-column($g: 24px);
  width: 525px;
  background-color: $white;
  border-radius: 30px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
}

.category-button-cont {
  @include display-row($jc: space-between, $ai: center);
}

.category {
  padding: 4px 24px;
  height: 28px;
  border-radius: 8px;
}

.category-text {
  @include font($fs: 23px, $fw: 400, $lh: 27.6px);
  color: $white;
}

.description {
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  color: $black;
}

.property {
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  @include display-row($ai: center, $g: 25px);
}

.property-head {
  color: $dark;
}

.property-data {
  color: $black;
}

.assigned-to-cont {
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  @include display-column($g: 8px);
}

.contact {
  @include box-padding($p: 7px 16px);
  @include display-row($ai: center, $g: 16px);
}

.profile {
  @include size($w: 42px, $h: 42px);
  @include round-border($b: 2px solid $white, $br: 45px);
  @include display-flex();
  box-sizing: border-box;
  text-align: center;
}

.initials {
  @include font($fs: 12px, $fw: 400, $lh: 14.4px);
  text-align: center;
  color: $white;
}

.name {
  @include font($fs: 19px, $fw: 400, $lh: 22.8px);
  font-family: $openSans;
  color: $black;
}

.subtasks-head {
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  color: $dark;
}

.subtask {
  @include box-padding($p: 4px 16px);
  @include display-row($ai: center, $g: 16px);
  width: fit-content;
  border-radius: 10px;
  transition: all 100ms ease-out;
  cursor: pointer;

  &:hover {
    background-color: #eeeeee;
  }
}

.subtask-text {
  @include font($fs: 16px, $fw: 400, $lh: 19.2px);
  color: $black;
}

.settings-button-group {
  @include display-row($jc: flex-end, $g: 8px);
}

.border {
  border-right: 1px solid $gray;
}
