<div class="transit-cont" [ngClass]="getClass()" (click)="onClose($event)">
    <section class="dialog-box" (click)="onStop($event)">
        <div class="button-cont">
            <button class="close-btn" (click)="onClose($event)"></button>
        </div>

        <div class="text-button-cont">
            <span class="text"><b>Delete</b> this task?</span>
            <div class="button-cont g-64">
                <app-button [button]="noBtn" (click)="onClose($event)"></app-button>
                <app-button [button]="yesBtn" (click)="onDelete()"></app-button>
            </div>
        </div>
    </section>
</div>