@import "../../../mixins.scss";

.contacts {
  @include display-row();
}

.title-viewer-cont {
  @include box-padding($p: 110px 55px);
  @include display-column($g: 32px);
  width: 100%;
}

.title-button-cont {
  display: none;
}

.back-arrow {
  @include size($w: 32px, $h: 32px);
  @include round-border($b: none, $br: 3px);
  padding: 0;
  background-color: transparent;
  background-image: url("/assets/img/sign-up/left_arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &:active,
  &:focus-visible {
    background-image: url("/assets/img/sign-up/left_arrow_hover.png");
  }
}

@media (max-width: 1180px) {
  .contacts {
    justify-content: center;
  }

  .contact-list {
    @include display-row($jc: center);
    width: 100%;
    max-width: 428px;
    background-color: $white;
    box-shadow: 4px 0 6px 0 rgba(0, 0, 0, 0.08);
  }

  .title-viewer-cont {
    @include size($w: 100%, $h: 100%);
    @include position($pos: absolute, $l: 0, $t: 0);
    padding: 48px 16px;
    background-color: $lightgray;
    gap: 48px;
  }

  .desktop {
    display: none;
  }

  .title-button-cont {
    @include display-row($jc: space-between);
  }
}
