<app-contact-settings-dialog *ngIf="isOpened('contactSettings')"></app-contact-settings-dialog>
<app-contact-dialog *ngIf="isOpened('addContact')" id="addContact"></app-contact-dialog>
<app-contact-dialog *ngIf="isOpened('editContact')" id="editContact"></app-contact-dialog>
<app-delete-contact-dialog *ngIf="isOpened('deleteContact')"></app-delete-contact-dialog>

<section class="contacts">
    <app-contact-list *ngIf="isDisplayed()" [contacts]="getSortedContacts()" class="contact-list"></app-contact-list>
    <app-contact-viewer *ngIf="isOpened('viewContact')" class="contact-viewer"></app-contact-viewer>
</section>