@import "../../../mixins.scss";

.contacts {
  @include display-row();
}

.contact-viewer {
  @include size($w: 100%, $h: calc(100vh - 96px));
  @include display-row();
}

@media (max-width: 1180px) {
  .contacts {
    justify-content: center;
  }

  .contact-list {
    @include display-row($jc: center);
    width: 100%;
    max-width: 428px;
    background-color: $white;
    box-shadow: 4px 0 6px 0 rgba(0, 0, 0, 0.08);
  }

  .contact-viewer {
    height: calc(100vh - 160px);
    justify-content: center;
  }
}
