<dialog [open]="dialog.isOpened('addContact') || dialog.isOpened('deleteContact')" class="dialog" (click)="onClose()">
    <app-add-contact-dialog [ngClass]="getVisClass('addContact')"></app-add-contact-dialog>
    <app-delete-contact-dialog [ngClass]="getVisClass('deleteContact')"></app-delete-contact-dialog>
    <!-- edit-contact-dialog -->
    <!-- dialog control (dialog to viewer)? -->
</dialog>

<section class="contacts">
    <app-contact-list [contacts]="contacts"></app-contact-list>

    <div class="title-viewer-cont">
        <app-join-title [title]="title" [subtitle]="subtitle"></app-join-title>
        <app-contact-viewer></app-contact-viewer>
    </div>
</section>