@import "../../../../mixins.scss";

.logo-cont {
  @include size($w: 100%, $h: 100vh);
  @include position($pos: fixed, $l: 0, $t: 0);
  background-color: transparent;
  z-index: 10;
}

@media (min-width: 1921px) {
  .logo-cont {
    width: 1920px;
    left: calc(50% - 960px);
  }
}
