@import "../../../../mixins.scss";

$check: "/assets/img/sign-up/check.png";
$checkHover: "/assets/img/sign-up/check_hover.png";
$checked: "/assets/img/sign-up/checked.png";
$checkedHover: "/assets/img/sign-up/checked_hover.png";
$checkedWhite: "/assets/img/add-task/checked_white.png";
$checkedHoverWhite: "/assets/img/add-task/checked_white.png";

.checkbox {
  @include size($w: 24px, $h: 24px);
  @include round-border($b: none, $br: 3px);
  padding: 0;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.check {
  @include background-images($d: $check, $h: $checkHover);
}

.checked {
  @include background-images($d: $checked, $h: $checkedHover);
}

.checked-white {
  @include background-images($d: $checkedWhite, $h: $checkedHoverWhite);
}

@media (max-width: 1180px) {
  .check {
    @include background-images($d: $check, $h: $check, $a: $checkHover);
  }

  .checked {
    @include background-images($d: $checked, $h: $checked, $a: $checkedHover);
  }

  .checked-white {
    @include background-images(
      $d: $checkedWhite,
      $h: $checkedWhite,
      $a: $checkedHoverWhite
    );
  }
}
