@import "../../../../../mixins.scss";

.link-btn {
  @include box-padding($p: 8px 56px);
  @include size(100%, 46px);
  @include color-set($c: #ffffff, $bgc: transparent);
  @include display-horiz($g: 8px);
  border: unset;

  img,
  span {
    filter: brightness(0.8);
  }

  &:hover {
    background-color: #2a3d59;
  }

  &:disabled {
    background-color: #091931;
    cursor: default;

    img,
    span {
      filter: brightness(1);
    }

    &:hover {
      background-color: #091931;
    }
  }
}
