<div class="input-component" [ngClass]="getCompClass()">
    <div class="pos-relative" [ngClass]="getSelectionClass()">
        <input *ngIf="masked" [value]="maskedValue" class="masked-input" type="text" disabled="true">
        <input [value]="value" [ngStyle]="getTextStyle()" class="input" [ngClass]="getInputClass()"
            [placeholder]="placeholder" type="text" maxlength="128" (input)="onInput($event)" (focus)="onFocus()"
            (blur)="onBlur()" (keydown)="onDisallow($event)" (copy)="onPrevent($event)" (cut)="onPrevent($event)">
        <button class="vis-btn" [ngClass]="getIconClass()" type="button" [disabled]="isDisabled()"
            (click)="onToggle()"></button>
    </div>
    <div *ngIf="this.isError()" class="error-cont">
        <span class="error">{{ error }}</span>
    </div>
</div>