<div class="password-input" [ngClass]="getCompClass()">
    <div class="pos-relative">
        <input [value]="value" class="input" [ngClass]="getInputClass()" [type]="getType()" [placeholder]="placeholder"
            name="input" maxlength="128" autocomplete="off" (input)="onInput($event)" (focus)="onFocus()"
            (blur)="onBlur()" (copy)="onPrevent($event)" (cut)="onPrevent($event)">
        <button aria-label="vis" class="vis-btn" [ngClass]="getIconClass()" type="button" [disabled]="isDisabled()"
            (click)="onToggle()"></button>
    </div>

    <div *ngIf="this.isError()" class="error-cont">
        <span class="error">{{ error }}</span>
    </div>
</div>