@import "../../../../../mixins.scss";

$select: #3367d1;

.input-component {
  @include display-column($g: 8px);
  transition: height 100ms ease-out;
}

.input {
  @include box-padding($p: 11px 54px 11px 20px);
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  @include color-set($c: $black, $bgc: $white);
  width: 100%;
  font-family: $inter;
  border-radius: 10px;
  transition: border 100ms ease-in-out;

  &::placeholder {
    color: $gray;
  }
}

.default {
  border: 1px solid $gray;

  &:focus {
    border: 1px solid $lightblue;
  }
}

.invalid {
  border: 1px solid $error;
}

.img {
  @include size($w: 24px, $h: 24px);
  @include position($pos: absolute, $t: 12px, $r: 21px);
}

.selection {
  ::selection {
    @include color-set($c: $select, $bgc: $select);
  }
}

.masked-input {
  @include box-padding($p: 11px 20px);
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  @include color-set($c: $black, $bgc: transparent);
  @include round-border($b: 1px solid transparent, $br: 10px);
  @include position($pos: absolute, $l: 0, $t: 0);
  z-index: 1;
  width: 100%;
  font-family: $inter;
  pointer-events: none;
}

.vis-btn {
  @include size($w: 24px, $h: 24px);
  @include round-border($b: none, $br: 50%);
  @include position($pos: absolute, $t: 12px, $r: 21px);
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  transition: all 100ms ease-in-out;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background-color: transparent;
  }
}

.lock {
  background-image: url("/assets/img/input/lock.png");
}

.vis-off {
  background-image: url("/assets/img/button/visibility_off.png");
}

.vis-on {
  background-image: url("/assets/img/button/visibility.png");
}

@media (max-width: 1180px) {
  .vis-btn {
    &:hover {
      background-color: transparent;
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

@media (max-width: 360px) {
  .error-cont {
    height: 28px;
  }

  .error {
    max-width: 200px;
  }
}
