@import "../../../../../mixins.scss";

.password-input {
  @include display-column($g: 8px);
  transition: height 100ms ease-out;
}

.input {
  @include box-padding($p: 11px 54px 11px 20px);
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  @include color-set($c: $black, $bgc: $white);
  @include round-border($b: 1px solid $gray, $br: 10px);
  width: 100%;
  font-family: $inter;
  transition: border-color 100ms ease-in-out;

  &::placeholder {
    color: $gray;
  }

  &:focus {
    border-color: $lightblue;
  }

  &.invalid {
    border-color: $error;
  }

  &::-ms-reveal,
  &::-webkit-credentials-auto-fill-button {
    display: none;
  }
}

.vis-btn {
  @include size($w: 24px, $h: 24px);
  @include round-border($b: none, $br: 50%);
  @include position($pos: absolute, $t: 12px, $r: 21px);
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  transition: all 100ms ease-in-out;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background-color: transparent;
  }
}

.lock {
  background-image: url("/assets/img/input/lock.png");
}

.vis-off {
  background-image: url("/assets/img/button/visibility_off.png");
}

.vis-on {
  background-image: url("/assets/img/button/visibility.png");
}

@media (max-width: 1180px) {
  .vis-btn {
    &:hover {
      background-color: transparent;
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

@media (max-width: 400px) {
  .error-cont {
    height: 32px;
  }

  .error {
    max-width: 200px;
  }
}
