@import "../../../../../assets/styles/admin-inputs.scss";

$select: #3367d1;

.selection {
  ::selection {
    @include color-set($c: $select, $bgc: $select);
  }
}

.masked-input {
  @include box-padding($p: 11px 20px);
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  @include color-set($c: $black, $bgc: transparent);
  @include round-border($b: 1px solid transparent, $br: 10px);
  @include position($pos: absolute, $l: 0, $t: 0);
  z-index: 1;
  width: 100%;
  font-family: $inter;
  pointer-events: none;
}

.vis-btn {
  @include size($w: 24px, $h: 24px);
  @include position($pos: absolute, $t: 12px, $r: 21px);
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: none;
}

.lock {
  background-image: url("/assets/img/input/lock.png");
}

.vis-off {
  background-image: url("/assets/img/login/visibility_off.png");
}

.vis-on {
  background-image: url("/assets/img/login/visibility.png");
}
