<div class="component" [ngClass]="getCompClass()">
    <div class="pos-relative">
        <input [value]="value" class="input" [ngClass]="getInputClass()" [placeholder]="placeholder" type="text"
            maxlength="128" (input)="onInput($event)" (focus)="onFocus()" (blur)="onBlur()">
        <img class="img" [src]="getSrc()" [alt]="img">
    </div>
    <div *ngIf="!valOff && error" class="error-cont">
        <span class="error">{{ error }}</span>
    </div>
</div>

<!-- <div class="input-hint-cont" [ngClass]="getContClass()">
    <div class="input-icon-cont">
        <input [value]="password" class="input" [ngClass]="getPasswordClass()" [placeholder]="placeholder" type="text"
            [disabled]="isLocked()" (input)="onInputChange($event)" (focus)="onFocusChange($event, true)"
            (blur)="onFocusChange($event, false)" (keydown)="onPasswordChange($event)" (copy)="onCopyCut($event)"
            (cut)="onCopyCut($event)">
        <button class="vis-btn" [ngClass]="getVisClass()" type="button" [disabled]="!isFilled()"
            (click)="onVisChange()"></button>
        <input class="mask" [value]="mask" [ngClass]="getMaskClass()" name="mask" img="lock.png" disabled="true">
    </div>
    <span *ngIf="isHintDisplayed()" class="hint">{{ hint() }}</span>
</div> -->