@import "../../../../../mixins.scss";

.input-list-cont {
  @include display-column($g: 4px);
  position: relative;
}

.input {
  @include box-padding($p: 11px 49px 11px 15px);
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  @include color-set($c: $black, $bgc: $white);
  @include round-border($b: 1px solid $gray, $br: 10px);
  @include display-row($g: 10px);
  width: 100%;
  font-family: $inter;
  z-index: 6;
  transition: all 100ms ease-in-out;

  &:hover {
    border: 1px solid $darkgray;
  }

  &:focus {
    border: 1px solid $lightblue;
  }

  &::placeholder {
    color: $black;
  }
}

.focus {
  border: 1px solid $lightblue;

  &:hover {
    border: 1px solid $lightblue;
  }
}

.drop-down-arrow {
  @include position($pos: absolute, $t: 12px, $r: 16px);
  z-index: 6;
  cursor: pointer;
}

.assignable-contacts-list-cont {
  @include position($pos: absolute, $l: 0, $t: 0);
  padding-top: 48px;
  width: 100%;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
  z-index: 5;
}

.assignable-contacts-list {
  @include display-column($g: 2px);
  width: 100%;
  max-height: 230px;
  overflow-y: auto;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.assignable-contact {
  @include box-padding($p: 7px 16px);
  @include display-flex($jc: space-between);
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: #eeeeee;
  }
}

.assigned {
  background-color: $dark;

  &:hover {
    background-color: $darker;
  }
}

.profile-name-cont {
  @include display-row($ai: center, $g: 16px);
}

.profile {
  @include size($w: 42px, $h: 42px);
  @include round-border($b: 2px solid $white, $br: 45px);
  @include display-flex();
  box-sizing: border-box;
  text-align: center;
}

.initials {
  @include font($fs: 12px, $fw: 400, $lh: 14.4px);
  text-align: center;
  color: $white;
}

.name {
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  color: $black;

  .assigned & {
    color: $white;
  }
}

.assigned-contacts {
  @include display-row($g: 8px);
}

@media (max-width: 1180px) {
  .input {
    @include font($fs: 16px, $fw: 400, $lh: 19.2px);
    padding: 13px 49px 13px 15px;

    &:hover {
      border: 1px solid $gray;
    }

    &:focus {
      border: 1px solid $lightblue;
    }

    &:active {
      border: 1px solid $darkgray;
    }
  }

  .assignable-contact:hover {
    background-color: unset;
  }

  .assigned:hover {
    background-color: $dark;
  }

  .name {
    @include font($fs: 16px, $fw: 400, $lh: 19.2px);
  }
}
