<div class="column-8">
    <app-label text="Assigned to"></app-label>

    <div class="input-list-cont" (click)="onHandle($event)">
        <input [value]="value" class="input" [ngClass]="getFocusClass()" type="text" [placeholder]="getPlaceholder()"
            (input)="onInput($event)" (focus)="onOpen()">
        <img class="drop-down-arrow" [src]="getArrowSrc()" alt="drop_down_arrow" (click)="onSwitch()">

        <div class="assignable-contacts-list-cont" [ngClass]="getListClass()">
            <div class="assignable-contacts-list">
                @for (contact of assignableContacts; track contact; let i = $index) {
                @if (isFiltered(contact.name)) {
                <div class="assignable-contact" [ngClass]="getBgcClass(contact)" (click)="onAssign(i)">
                    <div class="profile-name-cont">
                        <div class="profile" [ngClass]="contact.bgc">
                            <span class="initials">{{ contact.initials }}</span>
                        </div>
                        <span class="name">{{ contact.name }}</span>
                    </div>
                    <app-checkbox [checked]="isAssigned(contact)" [bright]="true"></app-checkbox>
                </div>
                }
                }
            </div>
        </div>
    </div>

    <div *ngIf="isAnyContactAssigned()" class="assigned-contacts">
        <div *ngFor="let contact of assignedContacts" class="profile" [ngClass]="contact.bgc">
            <span class="initials">{{ contact.initials }}</span>
        </div>
    </div>
</div>