@import "../../../../mixins.scss";

.card-cont {
  @include display-flex();
  cursor: pointer;
}

.card-cont-large {
  @include max-size($w: 560px, $h: 168px);
}

.card-cont-medium {
  @include max-size($w: 264px, $h: 168px);
}

.card-cont-small {
  @include max-size($w: 168px, $h: 168px);
}

.card {
  @include color-set($c: $dark, $bgc: $white);
  border-radius: 30px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  transition: all 80ms ease-in-out;

  &:hover {
    @include color-set($c: $white, $bgc: $dark);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    .counter {
      color: $white;
    }
  }

  &:active {
    @include color-set($c: $dark, $bgc: #f9f9f9);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    .counter {
      color: $black;
    }
  }
}

.card-large {
  @include box-padding($p: 28px 48px);
  @include min-size($w: 560px, $h: 168px);
  @include display-row($jc: center, $ai: center, $g: 61px);

  &:hover {
    @include min-size($w: 576px, $h: 184px);
  }
}

.card-medium {
  @include box-padding($p: 38px 19px);
  @include min-size($w: 264px, $h: 168px);
  @include display-row($jc: center, $ai: center, $g: 18px);

  &:hover {
    @include min-size($w: 282.5px, $h: 184px);
  }
}

.card-small {
  @include box-padding($p: 25px 0);
  @include min-size($w: 168px, $h: 168px);
  @include display-row($jc: center, $ai: center, $g: 13px);

  &:hover {
    @include min-size($w: 184px, $h: 184px);
  }
}

.urgent-task-cont {
  @include display-row($ai: center, $g: 18px);
}

.card-icon-cont-urgent {
  @include size($w: 60px, $h: 60px);
}

.card-icon-cont {
  @include size($w: 69px, $h: 69px);
}

.card-icon-urgent {
  @include size($w: 60px, $h: 60px);
  object-fit: contain;
}

.card-icon {
  @include size($w: 69px, $h: 69px);
  object-fit: contain;
}

.task-info {
  @include display-column($ai: center);
  text-align: center;
}

.mw-80 {
  max-width: 80px;
}

.counter {
  @include font($fs: 64px, $fw: 600, $lh: 76.8px);
  color: $black;
}

.category-urgent {
  @include font($fs: 16px, $fw: 400, $lh: 19.2px);
}

.category {
  @include font($fs: 20px, $fw: 400, $lh: 24px);
}

.border {
  height: 102px;
  border-right: 2px solid $gray;
  border-radius: 2px;
}

.date-deadline-cont {
  @include display-column($g: 13px);
}

.date {
  @include font($fs: 21px, $fw: 700, $lh: 25.2px);
}

.deadline {
  @include font($fs: 16px, $fw: 400, $lh: 19.2px);
}
