<div *ngIf="isOpened()" @settingsMenuAnimation class="dialog rgba-0" (click)="onClose()">
    <div class="transit-cont" [ngClass]="getTransitClass()">
        <div class="content">

            <div class="settings-dialog" [ngClass]="getDialogClass()" (click)="onStop($event)">
                <app-button [button]="editBtn" [selected]="isSelected('editContact')" (click)="onEdit()"></app-button>
                <app-button [button]="viewer.contactDeleteBtn" [selected]="isSelected('deleteContact')"
                    (click)="onDelete()"></app-button>
            </div>

        </div>
    </div>
</div>