<div *ngIf="isOpened()" @settingsMenuAnimation class="dialog rgba-0" (click)="onClose()">
    <div class="transit-cont">
        <div class="content">

            <div class="settings-dialog slide" (click)="onStop($event)">
                <app-button [button]="editBtn" [selected]="isSelected('editContact')" (click)="onEdit()"></app-button>
                <app-button [button]="deleteBtn" [selected]="isSelected('deleteContact')"
                    (click)="onDelete()"></app-button>
            </div>

        </div>
    </div>
</div>