<div *ngIf="isOpened()" class="dialog rgba-0" (click)="onClose()">
    <div class="transit-cont">
        <div class="content">
            <div class="settings-dialog" (click)="onStop($event)">
                <button class="settings-dialog-btn" (click)="onEdit()">
                    <img class="button-img" src="/assets/img/button/edit.png" alt="edit">
                    <span class="button-text">Edit</span>
                </button>

                <button class="settings-dialog-btn" (click)="onDelete()">
                    <img class="button-img" src="/assets/img/button/delete.png" alt="delete">
                    <span class="button-text">Delete</span>
                </button>
            </div>
        </div>
    </div>
</div>