<app-log [key]="logKey" [displayed]="logged"></app-log>
<app-logo [enabled]="false"></app-logo>

<section class="sign-up">
    <app-header type="sign-up"></app-header>

    <div class="form-cont">
        <form #newPasswordForm="ngForm" class="form" (ngSubmit)="onSignUp(newPasswordForm)">
            <button class="login-arrow" type="button" (click)="onBack()"></button>
            <!-- rename to new password!!! -->
            <app-title title="Password"></app-title>

            <div class="input-checkbox-cont">
                <div class="input-group">
                    @if (!emailKnown) {
                    <app-text-input [(ngModel)]="email" name="email"></app-text-input>
                    } @else {
                    <app-password-input [(ngModel)]="password" name="password"></app-password-input>
                    <app-password-input [(ngModel)]="matchword" name="matchword"
                        [pattern]="password"></app-password-input>
                    }
                </div>
            </div>

            <button [disabled]="isDisabled(newPasswordForm)" class="prim-btn sign-up-btn">New password</button>
        </form>
    </div>

    <app-footer></app-footer>
</section>