<app-logo [enabled]="false"></app-logo>

<section class="new-password">
    <app-header type="sign-up"></app-header>

    <div class="form-cont">
        <div class="form">
            <app-login-arrow></app-login-arrow>
            <app-title [title]="title"></app-title>

            @if (!emailEntered) {
            <form #enterEmailForm="ngForm" class="subform" (ngSubmit)="onVerifyUser(enterEmailForm)">
                <div class="input-hint-cont">
                    <app-text-input [(ngModel)]="email" name="email" [hintOff]="true"
                        [errorForced]="rejected"></app-text-input>
                    <span *ngIf="rejected" class="hint">{{ hint }}</span>
                </div>

                <button [disabled]="isDisabled(enterEmailForm)" class="prim-btn submit-btn">New password</button>
            </form>
            } @else {
            <form #newPasswordForm="ngForm" class="subform" (ngSubmit)="onUpdatePassword(newPasswordForm)">
                <div class="input-group">
                    <app-password-input [(ngModel)]="password" name="password"></app-password-input>
                    <app-password-input [(ngModel)]="matchword" name="matchword"
                        [pattern]="password"></app-password-input>
                </div>

                <button [disabled]="isDisabled(newPasswordForm)" class="prim-btn submit-btn">Confirm password</button>
            </form>
            }
        </div>
    </div>

    <app-footer></app-footer>
</section>