<app-logo [animated]="false"></app-logo>

<section class="new-password">
    <app-header type="sign-up"></app-header>

    <form [formGroup]="form" class="form">
        <app-login-arrow class="login-arrow"></app-login-arrow>

        @if (isControl('email')) {
        <app-title title="User"></app-title>

        <div class="input-hint-cont">
            <app-text-input [control]="email" [config]="config.loginEmail"></app-text-input>
            <div *ngIf="rejected" class="error-cont">
                <span class="error">{{ error }}</span>
            </div>
        </div>
        } @else {
        <app-title title="Set"></app-title>

        <div class="input-group">
            <app-password-input [control]="password" [config]="config.password"></app-password-input>
            <app-password-input [control]="matchword" [config]="config.matchword" [matchValue]="password?.value"
                class="h-70"></app-password-input>
        </div>
        }

        <div class="button-group">
            <app-login-arrow class="login-arrow-mobile"></app-login-arrow>
            @if (isControl('email')) {
            <button class=" prim-btn submit-btn" [disabled]="isDisabled()" (click)="onContinue()">New password</button>
            } @else {
            <button class="prim-btn submit-btn" [disabled]="isDisabled()" (click)="onUpdate()">Update</button>
            }
        </div>
    </form>

    <app-footer></app-footer>
</section>