<app-logo [enabled]="false"></app-logo>

<section class="sign-up">
    <app-header type="sign-up"></app-header>

    <div class="form-cont">
        <form [formGroup]="signUpForm" class="form" (ngSubmit)="onSignUp()">
            <app-login-arrow></app-login-arrow>
            <app-title title="Sign up"></app-title>

            <div class="input-checkbox-cont">
                <div class="input-group">
                    <app-text-input [config]="config.name"></app-text-input>
                    <app-text-input [config]="config.email"></app-text-input>
                    <app-password-input [config]="config.password"></app-password-input>
                    <app-password-input [config]="config.matchword"></app-password-input>
                    <!-- set matchword input -->
                    <!-- <app-password-input [(ngModel)]="matchword" name="matchword"
                        [pattern]="password"></app-password-input> -->
                </div>

                <div class="privacy-policy-line">
                    <div class="privacy-policy-cont">
                        <app-checkbox (check)="onAccept($event)"></app-checkbox>
                        <div class="privacy-policy-text">
                            <span>I accept the </span>
                            <a routerLink="/main/privacy-policy">Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </div>

            <button [disabled]="isDisabled()" class="prim-btn sign-up-btn">Sign up</button>
        </form>
    </div>

    <app-footer></app-footer>
</section>