@import "../../../mixins.scss";

.sign-up {
  @include display-column($jc: space-between, $ai: center);
  height: 100vh;
}

.form-cont {
  @include display-row($jc: center);
  width: 100%;
}

.form {
  @include display-column($ai: center, $g: 32px);
  padding: 48px 88px;
  background-color: $white;
  border-radius: 30px;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
  position: relative;
}

.input-checkbox-cont {
  @include display-column($g: 16px);
}

.input-group {
  @include display-column($g: 2px);
  width: 422px;
}

.privacy-policy-cont {
  @include display-row($jc: center, $ai: center, $g: 8px);
}

.privacy-policy-text {
  color: $darkgray;
}

.privacy-policy-link {
  text-decoration: none;
  color: $lightblue;

  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
}

.sign-up-btn {
  @include box-padding($p: 15px 24px);
  @include font($fs: 21px, $fw: 700, $lh: 25.2px);
  max-height: 55px;
}
