@import "../../../mixins.scss";

.sign-up {
  @include display-column($jc: space-between, $ai: center);
  height: 100vh;
}

.header {
  @include box-padding($p: 116px 0 0 0);
  width: 100%;
}

.form-cont {
  @include display-row($jc: center);
  width: 100%;
}

.form {
  @include display-column($ai: center, $g: 32px);
  padding: 48px 88px;
  background-color: $white;
  border-radius: 30px;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
  position: relative;
}

.login-arrow {
  @include size($w: 32px, $h: 32px);
  @include round-border($b: none, $br: 3px);
  @include position($pos: absolute, $l: 48px, $t: 64px);
  padding: 0;
  background-color: transparent;
  background-image: url("../../../assets/img/sign-up/left_arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &:hover {
    background-image: url("../../../assets/img/sign-up/left_arrow_hover.png");
  }
}

.title-border-cont {
  @include display-column($ai: center, $g: 13px);
}

.title {
  @include size($w: 315px, $h: 73px);
  text-align: center;
}

.border {
  @include size($w: 150px, $h: 0);
  border-bottom: 3px solid $lightblue;
  border-radius: 3px;
}

.input-checkbox-cont {
  @include display-column($g: 16px);
}

.input-group {
  @include display-column($g: 24px);
}

.privacy-policy-row {
  @include display-row($jc: center);
  width: 100%;
}

.privacy-policy-cont {
  @include display-row($ai: center, $g: 8px);

  img {
    @include size($w: 24px, $h: 24px);
    cursor: pointer;
  }
}

.privacy-policy-text {
  span {
    color: $darkgray;
  }

  a {
    text-decoration: none;
    color: $lightblue;
  }
}

.sign-up-btn {
  @include box-padding($p: 15px 24px);
  @include font($fs: 21px, $fw: 700, $lh: 25.2px);
  max-height: 55px;
}
