@import "../../../mixins.scss";

// mixin with login?
.sign-up {
  @include display-flex();
  height: calc(100vh - 96px);
  position: relative;
}

.content {
  @include display-column($ai: center);
  padding: 48px 88px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
  gap: 32px;
  position: relative;
}

.left-arrow {
  @include size($w: 32px, $h: 32px);
  position: absolute;
  left: 48px;
  top: 64px;
  cursor: pointer;

  &:hover {
    content: url("../../../assets/img/sign-up/left_arrow_hover.png");
  }
}

.title-border-cont {
  @include display-column($ai: center);
  gap: 13px;

  img {
    @include size($w: 150px, $h: 3px);
  }
}

.title {
  @include size($w: 315px, $h: 73px);
  text-align: center;
}

.input-cont {
  @include display-column();
  gap: 16px;
}

.input-remember-cont {
  // height: 152px;    // necessary?
  @include display-column();
  gap: 24px;
}

.input-hint-cont {
  @include display-column();
  gap: 8px;
}

.input-icon-cont {
  //   @include display-horiz($g: 8px);
  position: relative;
}

// input mixin?
.input {
  @include box-padding($p: 11px 21px);
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  width: 422px;
  color: #d1d1d1;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  outline: none;
  // gap: 10px;
}

.input-icon {
  position: absolute;
  top: 12px;
  right: 21px;
}

.input-hint {
  @include font($fs: 12px, $fw: 400, $lh: 14.4px);
  height: 12px;
}

.privacy-policy-cont {
  @include box-padding($p: 0 39px);
  @include display-horiz($g: 8px);
  width: 100%;

  span {
    color: #ababab;
  }

  a {
    text-decoration: none;
    color: #29abe2;
  }
}

.privacy-policy-text {
  @include font($fs: 16px, $fw: 400, $lh: 19.2px);
}

// mixin?
.sign-up-btn {
  @include box-padding($p: 15px 24px);
  background-color: #2a3647;
  border: none;
  // border: 1px solid #2a3647;
  border-radius: 8px;

  div {
    @include font($fs: 21px, $fw: 700, $lh: 25.2px);
    height: 25px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: #ffffff;
  }

  &:hover {
    background-color: #29abe2;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  &:active {
    background: #091931;
  }
}
