<app-logo [enabled]="false"></app-logo>

<section class="sign-up">
    <header class="header"></header>

    <div class="form-cont">
        <form #signUpForm="ngForm" class="form" (ngSubmit)="signUp(signUpForm)">
            <button class="login-arrow" type="button" (click)="backToLogin()"></button>

            <div class="title-border-cont">
                <h2 class="title headline-2">Sign up</h2>
                <div class="border"></div>
            </div>

            <!-- set input-group min-height?! -->
            <div class="input-checkbox-cont">
                <div class="input-group">
                    <app-input [(ngModel)]="name" name="name" placeholder="Name" [pattern]="namePat" required
                        img="person.png" (keydown)="validateNameChar($event)" [condition]="isNameInvalid()"
                        [hintText]="getNameHint()"></app-input>
                    <app-input [(ngModel)]="email" name="email" placeholder="Email" [pattern]="emailPat" required
                        img="email.png" (keydown)="validateEmailChar($event)" [condition]="isEmailInvalid()"
                        [hintText]="getEmailHint()"></app-input>
                    <!-- set border on focus!!! -->
                    <div style="position: relative;">
                        <app-input [(ngModel)]="password" name="password" type="password" placeholder="Password"
                            [pattern]="passwordPat" required img="lock.png" (keydown)="updatePassword($event)"
                            [condition]="isInvalidPassword()" [hintText]="getPasswordHint()"
                            (copy)="preventCopyPaste($event)" (cut)="preventCopyPaste($event)"
                            (onVisibility)="logVisibility($event)"></app-input>
                        <input class="password-agent" [ngClass]="hidePasswortAgent()" [(ngModel)]="passwordAgent"
                            name="password-agent" img="lock.png" disabled="true">
                    </div>
                    <!-- set border on focus!!! -->
                    <div style="position: relative;">
                        <app-input [(ngModel)]="confirmedPassword" name="confirmedPassword" type="password"
                            placeholder="Confirm password" [pattern]="getPasswordPat()" required img="lock.png"
                            (keydown)="updatePassword2($event)" [condition]="isPwMismatch()"
                            [hintText]="getConfirmedPasswordHint()" (copy)="preventCopyPaste($event)"
                            (cut)="preventCopyPaste($event)" (onVisibility)="logVisibility2($event)"></app-input>
                        <input class="password-agent" [ngClass]="hidePasswortAgent2()" [(ngModel)]="passwordAgent2"
                            name="password-agent-2" img="lock.png" disabled="true">
                    </div>
                </div>

                <div class="privacy-policy-row">
                    <div class="privacy-policy-cont">
                        <button class="checkbox" type="button" [ngClass]="getCheck()" (click)="accept()"></button>
                        <div class="privacy-policy-text">
                            <span>I accept the </span>
                            <a href="">Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </div>

            <button [disabled]="isDisabled(signUpForm)" class="prim-btn sign-up-btn">Sign up</button>
        </form>
    </div>

    <app-footer></app-footer>
</section>