<section class="sign-up">
    <app-join-logo></app-join-logo>

    <!-- review style due to form tag!!! -->
    <form #signUpForm="ngForm" class="content" (ngSubmit)="signUp(signUpForm)">
        <!-- log-in-btn!!! -->
        <img class="left-arrow" src="../../../assets/img/sign-up/left_arrow.png" alt="left_arrow" (click)="home()">

        <div class="title-border-cont">
            <h2 class="title headline-2">Sign up</h2>
            <div class="underline"></div>
        </div>

        <div class="input-cont">
            <div class="input-group">
                <app-input [(ngModel)]="user.name" name="name" placeholder="Name" minlength="2" required
                    img="person.png"></app-input>
                <app-input [(ngModel)]="user.email" name="email" placeholder="Email" [pattern]="emailPat" required
                    img="email.png"></app-input>
                <app-input [(ngModel)]="user.password" name="password" placeholder="Password" [pattern]="passwordPat"
                    required img="lock.png"></app-input>
                <app-input [(ngModel)]="confirmedPassord" name="confirmedPassord" placeholder="Confirm password"
                    [pattern]="getPassword()" required img="lock.png" [condition]="verifyPassword()"></app-input>
            </div>

            <div class="privacy-policy-cont">
                <img [ngClass]="getCheckbox()" [src]="getSrc()" alt="checkbox" (click)="accept()">
                <span class="privacy-policy-text">I accept the </span>
                <a href="" class="privacy-policy-text">Privacy Policy</a>
            </div>
        </div>

        <!-- prepare a function -->
        <button [disabled]="disable(signUpForm)" class="sign-up-btn">
            <div>Sign up</div>
        </button>
    </form>

    <app-legal-links></app-legal-links>
</section>