@import "../../../../mixins.scss";

.mobile-menu {
  @include display-row($jc: center, $ai: center);
  padding: 2px 16px;
  background-color: $dark;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.button-group {
  @include display-row($jc: space-between, $ai: center);
  width: 100%;
  max-width: 396px;
}
