@import "../../../../mixins.scss";

// check style ...
// set opacity 0.8 ...
// set opacity 1 if disabled (selected) ...
// add router links ...

.mobile-menu {
  @include display-row($jc: space-between, $ai: center);
  padding: 2px 16px;
  background-color: $dark;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.button {
  @include box-padding($p: 8px 0);
  @include size($w: 80px, $h: 76px);
  @include round-border($b: none, $br: 16px);
  @include display-column($jc: center, $ai: center);
  background-color: $dark;
  opacity: 0.8;
  transition: all 100ms ease-in-out;

  &:active,
  &:disabled {
    background-color: $darker;
    opacity: 1;
  }
}

.icon-text-cont {
  @include box-padding($p: 15px 0);
  @include size($w: 76px, $h: 76px);
  @include display-column($jc: center, $ai: center, $g: 10px);
}

.icon-cont {
  @include size($w: 24px, $h: 24px);
}

.icon {
  @include size($w: 100%, $h: 100%);
}

.text {
  @include font($fs: 14px, $fw: 400, $lh: 16.8px);
  font-family: $openSans;
  color: $white;
}
