<div class="input-hint-cont" [ngClass]="getHeightClass()">
    <div class="input-icon-cont">
        <input [value]="value" class="input" [ngClass]="getErrorClass()" [placeholder]="placeholder" type="text"
            (input)="onInputChange($event)" (focus)="onFocusChange($event, true)" (blur)="onFocusChange($event, false)"
            (keydown)="onValueChange($event)">
        <img class="icon" [src]="getSrc(img)" [alt]="img">
    </div>
    <span *ngIf="isHintDisplayed()" class="hint">{{ hint() }}</span>
</div>