<section class="add-contact" (click)="stop($event)">
    <div class="left-cont">
        <img class="logo" src="../../../../assets/img/menu/menu_logo.png" alt="menu-logo">

        <div class="title-border-cont">
            <div class="title-subtitle-cont">
                <h2 class="headline-2">Add contact</h2>
                <span class="subtitle">Tasks are better with a team!</span>
            </div>
            <div class="underline"></div>
        </div>
    </div>

    <div class="right-cont">
        <img class="close-btn" src="../../../../assets/img/contacts/close.png" alt="close" (click)="dacData.close()">

        <div class="profile-form-cont">
            <div class="displayed-profile">
                <img src="../../../../assets/img/contacts/person.png" alt="person">
            </div>
            <form class="add-contact-form">
                <div class="input-group">
                    <div class="input-icon-cont">
                        <input type="text" class="input" placeholder="Name">
                        <img class="input-icon" src="../../../assets/img/global/person.png" alt="person">
                    </div>

                    <div class="input-icon-cont">
                        <input type="text" class="input" placeholder="Email">
                        <img class="input-icon" src="../../../../assets/img/global/email.png" alt="email">
                    </div>

                    <div class="input-icon-cont">
                        <input type="text" class="input" placeholder="Phone">
                        <img class="input-icon" src="../../../../assets/img/contacts/phone.png" alt="phone">
                    </div>
                </div>

                <div class="button-group">
                    <button class="clear-task-btn">
                        <span>Clear</span>
                        <img src="../../../assets/img/add-task/cancel_button.png" alt="cancel_button">
                    </button>
                    <button class="create-task-btn">
                        <span>Create contact</span>
                        <img src="../../../assets/img/add-task/create_button.png" alt="create_button">
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>