<section class="board">
    <div class="title-cont">
        <h2 class="headline-2">Board</h2>

        <div class="input-button-cont">
            <div class="input-cont">
                <input #search class="input" type="text" placeholder="Find Task" (keyup)="filterTasks(search)">
                <div class="border-input-cont">
                    <img class="search-icon" src="../../../assets/img/board/search.png" alt="search">
                </div>
            </div>
            <button class="add-task-btn" (click)="datData.open()">
                <span>Add task</span>
                <img src="../../../assets/img/board/add.png" alt="add">
            </button>
        </div>
    </div>

    <div class="content">
        <div class="board-column-group">
            <div class="column">
                <div class="head">
                    <span>To do</span>
                    <img class="add-icon" src="../../../assets/img/board/add_framed.png" alt="add_framed"
                        (click)="datData.open()">
                </div>
                <div class="body" (drop)="moveTo('to-do')" (dragover)="drop($event)">
                    <div *ngIf="printPlaceholder('to-do')" class="default-task">
                        <span class="default-task-text">No tasks to do</span>
                    </div>
                    @for(task of draggableTasks; track task) {
                    <app-draggable-task *ngIf="verifyTasks(task, 'to-do')" [task]="task"
                        (dragMove)="logDrag($event)"></app-draggable-task>
                    }
                </div>
            </div>

            <div class="column">
                <div class="head">
                    <span>In progress</span>
                    <img class="add-icon" src="../../../assets/img/board/add_framed.png" alt="add_framed"
                        (click)="datData.open()">
                </div>
                <div class="body" (drop)="moveTo('in-progress')" (dragover)="drop($event)">
                    <div *ngIf="printPlaceholder('in-progress')" class="default-task">
                        <span class="default-task-text">No tasks in progress</span>
                    </div>
                    @for(task of draggableTasks; track task) {
                    <app-draggable-task *ngIf="verifyTasks(task, 'in-progress')" [task]="task"
                        (dragMove)="logDrag($event)"></app-draggable-task>
                    }
                </div>
            </div>

            <div class="column">
                <div class="head">
                    <span>Await feedback</span>
                    <img class="add-icon" src="../../../assets/img/board/add_framed.png" alt="add_framed"
                        (click)="datData.open()">
                </div>
                <div class="body" (drop)="moveTo('await-feedback')" (dragover)="drop($event)">
                    board-task gap 20px
                    board-task with subtasks gap 24px
                    create 2-4 components!!!
                    <div *ngIf="printPlaceholder('await-feedback')" class="default-task">
                        <span class="default-task-text">No tasks await feedback</span>
                    </div>
                    @for(task of draggableTasks; track task) {
                    <app-draggable-task *ngIf="verifyTasks(task, 'await-feedback')" [task]="task"
                        (dragMove)="logDrag($event)"></app-draggable-task>
                    }
                </div>
            </div>

            <div class="column">
                <div class="head">
                    <span>Done</span>
                    <!-- <img class="add-icon" src="../../../assets/img/board/add_framed.png" alt="add_framed"> -->
                </div>
                <div class="body" (drop)="moveTo('done')" (dragover)="drop($event)">
                    <div *ngIf="printPlaceholder('done')" class="default-task">
                        <span class="default-task-text">No tasks done</span>
                    </div>
                    @for(task of draggableTasks; track task) {
                    <app-draggable-task *ngIf="verifyTasks(task, 'done')" [task]="task"
                        (dragMove)="logDrag($event)"></app-draggable-task>
                    }
                </div>
            </div>
        </div>
    </div>
</section>