<section class="board">
    <div class="title-cont">
        <h2 class="headline-2">Board</h2>

        <div class="input-button-cont">
            <div class="input-cont">
                <input class="input" type="text" placeholder="Find Task">
                <div class="border-input-cont">
                    <img class="search-icon" src="../../../assets/img/board/search.png" alt="search">
                </div>
            </div>
            <button class="add-task-btn">
                <span>Add task</span>
                <img src="../../../assets/img/board/add.png" alt="add">
            </button>
        </div>
    </div>

    <div class="content">
        <div class="board-column-group">
            <div class="column">
                <div class="head">
                    <span>To do</span>
                    <img class="add-icon" src="../../../assets/img/board/add_framed.png" alt="add_framed">
                </div>
                <div class="body">
                    <div class="default-task">
                        <span class="default-task-text">No tasks to do</span>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="head">
                    <span>In progress</span>
                    <img class="add-icon" src="../../../assets/img/board/add_framed.png" alt="add_framed">
                </div>
                <div class="body">
                    Apfelbaum
                </div>
            </div>

            <div class="column">
                <div class="head">
                    <span>Await feedback</span>
                    <img class="add-icon" src="../../../assets/img/board/add_framed.png" alt="add_framed">
                </div>
                <div class="body">
                    Apfelbaum
                </div>
            </div>

            <div class="column">
                <div class="head">
                    <span>Done</span>
                    <!-- <img class="add-icon" src="../../../assets/img/board/add_framed.png" alt="add_framed"> -->
                </div>
                <div class="body">
                    Apfelbaum
                </div>
            </div>
        </div>
    </div>
</section>