@import "../../../mixins.scss";

.board {
  // start padding is wrong?
  @include box-padding($p: 110px 96px);
  @include size($w: 100%, $h: calc(100vh - 96px));
  @include display-column();
  gap: 48px;
  //   overflow-y: scroll;
}

.title-cont {
  @include display-flex($jc: space-between);
  width: 100%;
  max-width: 1016px;
}

.input-button-cont {
  @include display-horiz($g: 32px);
}

.input-cont {
  width: 312px;
  position: relative;
}

.input {
  @include box-padding($p: 11px 81px 11px 16px);
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  @include display-horiz($g: 10px);
  width: 100%;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  border: 1px solid #ababab;
  border-radius: 10px;
  outline: none;

  &:focus {
    border: 1px solid #29abe2;
  }

  &::placeholder {
    color: #d1d1d1;
  }
}

.border-input-cont {
  padding-left: 16px;
  max-height: 32px;
  border-left: 1px solid #d1d1d1;
  position: absolute;
  top: 8px;
  right: 17px;
}

// mixin?
.search-icon {
  cursor: pointer;

  &:hover {
    content: url("../../../assets/img/board/search_hover.png");
  }

  &:active {
    content: url("../../../assets/img/board/search_active.png");
  }
}

// mixin?
.add-task-btn {
  @include display-horiz($g: 4px);
  padding: 8px 16px;
  background-color: #2a3647;
  border: none;
  // border: 1px solid #2a3647;
  border-radius: 10px;

  span {
    @include font($fs: 21px, $fw: 700, $lh: 25.2px);
    height: 24px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: #ffffff;
  }

  img {
    @include size($w: 32px, $h: 32px);
  }

  &:hover {
    background-color: #29abe2;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  &:active {
    background: #091931;
  }
}

.content {
  width: 100%;
  max-width: 1016px;
  flex: 1;
}

.board-column-group {
  display: flex;
  gap: 26px;
  height: 100%;
}

.column {
  @include display-column($ai: center);
  flex: 1;
  gap: 8px;
}

.head {
  @include font($fs: 20px, $fw: 700, $lh: 24px);
  @include display-flex($jc: space-between);
  width: 244px;
  color: #42526e;
}

.add-icon {
  cursor: pointer;

  &:hover {
    content: url("../../../assets/img/board/add_framed_hover.png");
  }

  &:active {
    content: url("../../../assets/img/board/add_framed_active.png");
  }
}

.body {
  @include size($w: 100%, $h: 100%);
}

.default-task {
  @include size($w: 100%, $h: 48px);
  @include display-flex();
  background-color: #e7e7e7;
  border: 1px dotted #a8a8a8;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
}

.default-task-text {
  @include font($fs: 16px, $fw: 400, $lh: 19.2px);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #ababab;
}

.card-frame {
  @include box-padding($p: 16px);
  width: 252px;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.08);
}

.card {
  @include display-column();
  gap: 24px;
}

.card-category {
  padding: 4px 16px;
  border-radius: 8px;
}

.user-story {
  background-color: #0038ff;
}

.category-text {
  @include font($fs: 16px, $fw: 400, $lh: 19.2px);
  color: #ffffff;
}

.title-description-cont {
  @include display-column();
  gap: 8px;
}

.card-title {
  @include font($fs: 16px, $fw: 700, $lh: 19.2px);
  color: #293647;
}

.card-description {
  @include font($fs: 16px, $fw: 400, $lh: 19.2px);
  color: #ababab;
}

.card-subtasks {
  @include display-horiz($g: 16px);
  width: 100%;
}

.max-bar {
  @include box-padding($p: 0 64px 0 0);
  width: 128px;
  background-color: #f4f4f4;
  border-radius: 8px;
}

.progress-bar {
  @include size($w: 64px, $h: 8px);
  background-color: #4589ff;
  border-radius: 16px;
}

.subtask-counter {
  @include font($fs: 12px, $fw: 400, $lh: 14.4px);
  color: #000000;
}

.contacts-prio-cont {
  @include display-flex($jc: space-between);
  width: 100%;
}

.assigned-contacts {
  @include display-horiz($g: 0);
  // set minus to left

  .profile:first-child {
    margin-left: 0;
  }

  .profile {
    margin-left: -8px;
  }
}

// copy from add-task
.profile {
  @include size($w: 32px, $h: 32px);
  @include display-flex();
  background-color: #29abe2;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 45px;
}

// copy from add-task
.initials {
  @include font($fs: 12px, $fw: 400, $lh: 14.4px);
  margin-top: 2px;
  color: #ffffff;
}

.prio-cont {
  @include size($w: 32px, $h: 32px);
  @include display-flex();
}

.prio-img {
  @include size($w: 17px, $h: 6.33px);
}

.technical-task {
  background-color: #1fd7c1;
}
