@import "../../../../mixins.scss";

.card {
  @include box-padding($p: 38px 19px);
  @include min-size($w: 264px, $h: 168px);
  @include color-set($c: $dark, $bgc: $white);
  @include display-row($jc: center, $ai: center, $g: 18px);
  border-radius: 30px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  transition: all 80ms ease-in-out;

  &:hover {
    @include min-size($w: 282.5px, $h: 184px);
    @include color-set($c: $white, $bgc: $dark);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    .counter {
      color: $white;
    }
  }

  &:active {
    @include color-set($c: $dark, $bgc: #f9f9f9);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    .counter {
      color: $black;
    }
  }
}

.card-icon-cont {
  @include size($w: 69px, $h: 69px);
}

.card-icon {
  @include size($w: 69px, $h: 69px);
  object-fit: contain;
}

.task-info {
  @include display-column($ai: center);
  text-align: center;
}

.counter {
  @include font($fs: 64px, $fw: 600, $lh: 76.8px);
  color: $black;
}

.category {
  @include font($fs: 20px, $fw: 400, $lh: 24px);
}
