@import "../../../../assets/styles/add-task-inputs.scss";

.input {
  @include box-padding($p: 11px 49px 11px 15px);
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  @include color-set($c: $black, $bgc: $white);
  @include round-border($b: 1px solid $gray, $br: 10px);
  font-family: $inter;

  &:focus {
    border: 1px solid $lightblue;
  }

  &::placeholder {
    color: $gray;
  }
}

.icon-cont {
  @include display-row($g: 4px);
  @include position($pos: absolute, $t: 12px, $r: 16px);
  max-width: 56px;
}

.icon-btn {
  @include size($w: 24px, $h: 24px);
  @include min-size($w: 24px, $h: 24px);
  padding: 0;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: none;
  transition: all 100ms ease-out;

  &:hover {
    background-color: #eeeeee;
    border-radius: 50px;
  }
}

.cancel {
  background-image: url("../../../../assets/img/add-task/cancel_subtask.png");
}

.icon-border {
  @include size($w: 0, $h: 24px);
  border-right: 1px solid $darkgray;
}

.check {
  background-image: url("../../../../assets/img/add-task/check_subtask.png");
}

.add {
  @include size($w: 24px, $h: 24px);
}

.subtasks-list {
  @include display-column($g: 8px);
  margin: 0;
  padding-inline-start: 0;
}
