<div class="label-input-cont">
    <app-label text="Subtasks"></app-label>
    <div class="input-hint-cont">
        <input [value]="value" class="input" type="text" placeholder="Add new subtask" (input)="onInputChange($event)">
        <div class="icon-cont">
            @if (isFilled()) {
            <button class="icon-btn cancel" (click)="onEmptyInput()"></button>
            <div class="icon-border"></div>
            <button class="icon-btn check" (click)="onAddSubtask()"></button>
            } @else {
            <img class="add" src="../../../../assets/img/add-task/add_subtask.png" alt="add_subtask">
            }
        </div>
    </div>

    <ul *ngIf="subTData.subtasks.length > 0" class="subtasks-list">
        <div *ngFor="let subtask of subTData.subtasks; index as i" (click)="stop($event)">
            @if (!subtask.focussed) {
            <div class="subtask-item" (click)="subTData.edit(i)">
                <li class="li">{{ subtask.text }}</li>
                <div class="subtask-icon-cont">
                    <button class="icon-btn edit" (click)="subTData.edit(i)"></button>
                    <div class="icon-border"></div>
                    <button class="icon-btn delete" (click)="subTData.delete(i)"></button>
                </div>
            </div>
            } @else {
            <form class="pos-relative" (submit)="subTData.save(i)">
                <input [(ngModel)]="subTData.currValue" name="subtask" class="subtask-input" type="text">
                <div class="subtask-icon-cont d-flex">
                    <button class="icon-btn delete" type="button" (click)="subTData.delete(i)"></button>
                    <div class="icon-border"></div>
                    <button class="icon-btn check" type="button" (click)="subTData.save(i)"></button>
                </div>
            </form>
            }
        </div>
    </ul>
</div>