<div class="label-input-cont">
    <app-label text="Subtasks"></app-label>
    <div class="input-hint-cont">
        <input [value]="value" class="input" type="text" placeholder="Add new subtask" (input)="onInputChange($event)">
        <div class="icon-cont">
            @if (isFilled()) {
            <button class="icon-btn cancel" (click)="onEmptyInput()"></button>
            <div class="icon-border"></div>
            <button class="icon-btn check" (click)="onAddSubtask()"></button>
            } @else {
            <img class="add" src="../../../../assets/img/add-task/add_subtask.png" alt="add_subtask">
            }
        </div>
    </div>

    <!-- continue here!!! -->
    <!-- own component?! -->
    <div *ngIf="subTData.subtasks.length > 0" class="subtasks-cont">
        <ul>
            <!-- subtask-cont for margin-bottom:8px!!! -->
            <div *ngFor="let subtask of subTData.subtasks; index as i" class="subtask-cont" (click)="stop($event)">
                <div *ngIf="!subtask.focused" class="li-cont" (click)="subTData.edit(i)">
                    <li>{{ subtask.text }}</li>
                </div>
                <div *ngIf="subtask.focused" class="subinput-icon-cont">
                    <input [value]="subTData.currValue" name="subtask" class="subtask" type="text"
                        [value]="subtask.text">
                    <div class="subtask-icon-cont">
                        <img src="../../../assets/img/add-task/delete.png" alt="delete" (click)="subTData.delete()">
                        <div class="sub-icon-border"></div>
                        <img src="../../../assets/img/add-task/check.png" alt="check" (click)="subTData.save(i)">
                    </div>
                </div>
            </div>
            <!-- <div *ngIf="!subtaskFocused" class="li-cont">
                <li>Contact Form</li>
            </div>
            <div *ngIf="subtaskFocused" class="subinput-icon-cont">
                <input class="subtask" type="text" value="Contact Form">
                <div class="subtask-icon-cont">
                    <img src="../../../assets/img/add-task/delete.png" alt="delete">
                    <div class="sub-icon-border"></div>
                    <img src="../../../assets/img/add-task/check.png" alt="check">
                </div>
            </div>
            <div class="li-cont">
                <li>Write Legal Imprint</li>
            </div> -->
            <!-- <input class="subtask" type="text" value="Write Legal Imprint"> -->
        </ul>
    </div>
</div>