@import "../../../../mixins.scss";

.label-input-cont {
  @include display-column($g: 8px);
  width: 440px;
}

.input-hint-cont {
  @include display-column($g: 4px);
  position: relative;
}

.input {
  @include box-padding($p: 11px 49px 11px 15px);
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  @include color-set($c: $black, $bgc: $white);
  @include round-border($b: 1px solid $gray, $br: 10px);
  font-family: $inter;

  &:focus {
    border: 1px solid $lightblue;
  }

  &::placeholder {
    color: $gray;
  }
}

.error {
  border: 1px solid #ff8190;
}

.icon-cont {
  @include display-row($g: 4px);
  @include position($pos: absolute, $t: 12px, $r: 16px);
  max-width: 56px;
}

.icon-btn {
  @include size($w: 24px, $h: 24px);
  @include min-size($w: 24px, $h: 24px);
  padding: 0;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: none;
}

.cancel {
  background-image: url("../../../../assets/img/add-task/cancel_subtask.png");
}

.check {
  background-image: url("../../../../assets/img/add-task/check_subtask.png");
}

.icon-border {
  @include size($w: 0, $h: 24px);
  border-right: 1px solid $darkgray;
}

.add {
  @include size($w: 24px, $h: 24px);
  background-image: url("../../../../assets/img/add-task/add_subtask.png");
}

// continue here!
.subtasks-cont {
  width: 100%;
}

ul {
  margin: 0;
  padding-inline-start: 0;

  // clean style!
  display: flex;
  flex-direction: column;
  gap: 8px;

  li {
    @include font($fs: 16px, $fw: 400, $lh: 19.2px);
    color: $black;
  }
}

.li-cont {
  @include display-flex($jc: flex-start);
  padding-left: 40px;
  margin-bottom: 8px;
  height: 32px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }
}

.subinput-icon-cont {
  // review margin-bottom!!!
  margin-bottom: 8px;
  position: relative;

  // review!!!
  img {
    cursor: pointer;
  }
}

.subtask {
  @include box-padding($p: 6px 16px);
  @include font($fs: 16px, $fw: 400, $lh: 19.2px);
  @include color-set($c: $black, $bgc: $white);
  width: 100%;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid #29abe2;
  border-right: none;
  // position: absolute;
  // left: 0;
  // top: 0;
}

.subtask-icon-cont {
  @include display-horiz($g: 4px);
  max-width: 56px;
  position: absolute;
  top: 4px;
  right: 16px;

  img {
    @include size($w: 24px, $h: 24px);
  }
}
