@import "../../../mixins.scss";

h3 {
  @include font($fs: 27px, $fw: 700, $lh: 32.4px);
  color: $black;
}

h4 {
  @include font($fs: 20px, $fw: 700, $lh: 24px);
  color: $black;
}

.copyright {
  @include display-row($jc: space-between);
  margin-top: 15px;
  flex-direction: row-reverse;
}

@media (max-width: 568px) {
  .copyright {
    @include display-column($g: 4px);
  }
}

@media (max-width: 340px) {
  h3 {
    @include font($fs: 25px, $fw: 700, $lh: 30px);
    color: $black;
  }
}
