@import "../../../../assets/styles/add-task-inputs.scss";

.input {
  @include box-padding($p: 11px 49px 11px 15px);
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  @include color-set($c: $black, $bgc: $white);
  @include round-border($b: 1px solid $gray, $br: 10px);
  @include display-row($g: 10px);
  font-family: $inter;
  z-index: 20;

  &:hover {
    border: 1px solid #a8a8a8;
  }

  &:focus {
    border: 1px solid $lightblue;
  }

  &::placeholder {
    color: $black;
  }
}

.read-only {
  cursor: pointer;
}

.drop-down-arrow {
  @include position($pos: absolute, $t: 12px, $r: 16px);
  z-index: 20;
  cursor: pointer;
}

.category-list {
  @include display-column();
  padding-top: 48px;
  width: 100%;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
  position: absolute;
  z-index: 10;
}

.category-item {
  @include box-padding($p: 12px 16px);
  border-radius: 10px;
  cursor: pointer;

  span {
    @include font($fs: 20px, $fw: 400, $lh: 24px);
  }

  &:hover {
    background-color: #eeeeee;
  }
}
