<div class="label-input-cont">
    <app-label text="Category" [req]="true"></app-label>
    <div class="input-hint-cont">
        <input [value]="value" class="selection read-only" type="text" placeholder="Select task category" required
            (input)="onInputChange($event)" (click)="switchCategory()" readonly>
        <img class="drop-down-arrow" [src]="updateArrowCategory()" alt="drop_down_arrow" (click)="switchCategory()">
        <!-- add hint!!! -->

        <!-- fix z-index!!! -->
        <div class="category-list" [ngClass]="dialog.isOpened(id) ? 'show' : ''">
            <div #technicalTask class="category-item" (click)="setCategory(technicalTask)">
                <span>Technical Task</span>
            </div>

            <div #userStory class="category-item" (click)="setCategory(userStory)">
                <span>User Story</span>
            </div>
        </div>
    </div>
</div>