@import "../../../../mixins.scss";

.input-agent-cont {
  position: relative;
}

.agent {
  @include box-padding($p: 11px 54px 11px 20px);
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  @include color-set($c: $black, $bgc: transparent);
  @include round-border($b: 1px solid transparent, $br: 10px);
  width: 422px;
  font-family: monospace;
  letter-spacing: 1px;

  &::placeholder {
    color: $gray;
  }

  &:focus {
    border: 1px solid $lightblue;
  }
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

// rename!!!
.agent-plus {
  display: none;
}

.input-hint-cont {
  @include display-column($g: 8px);
}

.input-icon-cont {
  position: relative;
}

.input {
  @include box-padding($p: 11px 54px 11px 20px);
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  @include color-set($c: $black, $bgc: $white);
  @include round-border($b: 1px solid $gray, $br: 10px);
  font-family: $inter;
  width: 422px;

  &::placeholder {
    color: $gray;
  }

  &:focus {
    border: 1px solid $lightblue;
  }
}

.password {
  font-family: monospace;
  letter-spacing: 1px;
  color: $white;
  caret-color: $black;

  &::placeholder {
    font-family: $inter;
  }

  &::selection {
    @include color-set($c: #3367d1, $bgc: #3367d1);
  }
}

.error {
  border: 1px solid $error;
}

.icon {
  @include size($w: 24px, $h: 24px);
  @include position($pos: absolute, $t: 12px, $r: 21px);
}

.vis-btn {
  @include size($w: 24px, $h: 24px);
  @include position($pos: absolute, $t: 12px, $r: 21px);
  background-color: transparent;
  background-image: url("../../../../assets/img/global/lock.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: none;
}

.conceal {
  background-image: url("../../../../assets/img/login/visibility_off.png");
}

.reveal {
  background-image: url("../../../../assets/img/login/visibility.png");
}

.hint {
  @include font($fs: 12px, $fw: 400, $lh: 14.4px);
  color: $hint;
}
