@import "../../../../mixins.scss";

.input-hint-cont {
  @include display-column($g: 8px);
}

.input-icon-cont {
  position: relative;
}

.input {
  @include box-padding($p: 11px 20px);
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  @include color-set($c: $black, $bgc: $white);
  width: 422px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;

  &::placeholder {
    color: #d1d1d1;
  }

  &:focus {
    border: 1px solid $lightblue;
  }
}

.error {
  border: 1px solid $error;
}

.icon {
  @include size($w: 24px, $h: 24px);
  @include position($pos: absolute, $t: 12px, $r: 21px);
}

.hint {
  @include font($fs: 12px, $fw: 400, $lh: 14.4px);
  color: $hint;
}
