<div class="input-mask-cont" [ngClass]="getContClass()">
    <div class="input-hint-cont">
        <div class="input-icon-cont">
            @if (isPasswordType()) {
            <input class="input" [value]="value" [ngClass]="getPasswordClass()" (input)="onInputChange($event)"
                type="text" [placeholder]="placeholder" [disabled]="disabled" (focus)="onFocusChange($event, true)"
                (blur)="onFocusChange($event, false)" (keydown)="onPasswordChange($event)" (copy)="onCopyCut($event)"
                (cut)="onCopyCut($event)">
            <button class="vis-btn" [ngClass]="getVis()" [disabled]="!isFilled()" (click)="onVisChange()"
                type="button"></button>
            } @else {
            <input class="input" [value]="value" [ngClass]="getErrorClass()" (input)="onInputChange($event)" type="text"
                [placeholder]="placeholder" (focus)="onFocusChange($event, true)" (blur)="onFocusChange($event, false)">
            <img class="icon" [src]="getSrc()" [alt]="this.img">
            }
        </div>
        <span *ngIf="isHintDisplayed()" class="hint">{{ hint }}</span>
    </div>
    <input *ngIf="isPasswordType()" class="mask" [value]="mask" [ngClass]="getMaskClass()" name="mask" img="lock.png"
        disabled="true">
</div>