<div class="input-hint-cont">
    <div class="input-icon-cont">
        <input class="input" [value]="value" [ngClass]="getClass()" (input)="onInputChange($event)" type="text"
            [placeholder]="placeholder">
        @if (type == 'password') {
        <button class="vis-btn" [ngClass]="getVis()" [disabled]="isDisabled()" (click)="toggleVis(visible)"></button>
        } @else {
        <img class="icon" [src]="getSrc()" [alt]="this.img">
        }
    </div>
    <span *ngIf="condition" class="hint">
        {{ hint }}
    </span>
</div>