@import "../../../../mixins.scss";

$left: calc(calc(100% - 274px) / 2);
$top: calc(calc(100vh - 335px) / 2);

@mixin logo-location($l, $t, $w) {
  @include position($pos: relative, $l: $l, $t: $t);
  width: $w;
}

.logo-cont {
  @include size($w: 100%, $h: 100vh);
  @include position($pos: absolute, $l: 0, $t: 0);
  background-color: transparent;
  z-index: 1;
}

.bg-color {
  background-color: #f6f7f8;
}

.logo {
  @include logo-location($l: 77px, $t: 80px, $w: 100px);
}

.pos-center {
  @include logo-location($l: $left, $t: $top, $w: 274px);
}
