<div *ngIf="isOpened()" @dialogAnimation class="dialog">
    <div class="transit-cont" [ngClass]="getTransitClass()" (click)="onClose()">
        <section class="dialog-box" (click)="onStop($event)">
            <div class="category-button-cont">
                <div class="category" [ngClass]="getCategoryClass()">
                    <span class="category-text">{{ task.category }}</span>
                </div>
                <button class="close-btn" (click)="onClose()"></button>
            </div>

            <h2 class="title">{{ task.title }}</h2>

            <span class="description">{{ task.description }}</span>

            <div class="property">
                <span class="property-head">Due date:</span>
                <span class="property-data">{{ task.dueDate }}</span>
            </div>

            <div class="property">
                <span class="property-head">Priority:</span>
                <app-button [button]="prioBtn"></app-button>
            </div>

            <div class="assigned-to-cont">
                <span class="property-head">Assigned To:</span>
                <div class="column-4">
                    <div *ngFor="let contact of task.assignedTo" class="contact">
                        <div class="profile" [ngClass]="contact.bgc">
                            <span class="initials">{{ contact.initials }}</span>
                        </div>
                        <span class="name">{{ contact.name }}</span>
                    </div>
                </div>
            </div>

            <div class="column-8">
                <span class="subtasks-head">Subtasks</span>
                <div class="column-4">
                    <div *ngFor="let subtask of task.subtasks" class="subtask" (click)="onCheck(subtask)">
                        <app-checkbox [checked]="subtask.done"></app-checkbox>
                        <span class="subtask-text">{{ subtask.text }}</span>
                    </div>
                </div>
            </div>

            <div class="settings-button-group">
                <app-button [button]="deleteBtn" (click)="onDelete()"></app-button>
                <div class="border"></div>
                <app-button [button]="editBtn" (click)="onEdit()"></app-button>
            </div>
        </section>
    </div>
</div>

<app-delete-task-dialog></app-delete-task-dialog>