@import "../../../../mixins.scss";

.contact {
  @include round-border($b: none, $br: 10px);
  @include display-row($g: 35px);
  padding: 15px 24px;
  width: 352px;
  text-align: left;
  background-color: $white;
  transition: all 100ms ease-in-out;

  &:hover {
    background: linear-gradient(180deg, #f9f9f9 0%, #f0f0f0 100%);
  }
}

.selected {
  background-color: $dark;

  &:hover {
    background: $dark;
  }
}

.profile {
  @include min-size($w: 42px, $h: 42px);
  @include max-size($w: 42px, $h: 42px);
  @include round-border($b: 2px solid $white, $br: 45px);
  @include display-flex();
  box-sizing: border-box;
}

.h-14 {
  height: 14px;
}

.initials {
  @include font($fs: 12px, $fw: 400, $lh: 14.4px);
  text-align: center;
  color: $white;
}

.name-email-cont {
  @include display-column($g: 5px);
}

.h-24 {
  height: 24px;
}

.name {
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  color: $black;
  transition: all 100ms ease-in-out;

  .selected & {
    color: $white;
  }
}

.h-19 {
  height: 19px;
}

.email {
  @include font($fs: 16px, $fw: 400, $lh: 19.2px);
  color: #007cee;
}
