@import "../../../../mixins.scss";

// rename!!!
.contact-card {
  @include display-column();
  gap: 21px;
}

.displayed-contact {
  @include display-horiz($g: 54px);
}

// mixin?
.displayed-profile {
  @include size($w: 120px, $h: 120px);
  @include display-flex();
  // padding-top?
  // background-color: #29abe2;
  box-sizing: border-box;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 70px;
}

.displayed-initials {
  @include font($fs: 47px, $fw: 500, $lh: 56.4px);
  text-align: center;
  color: #ffffff;
}

.name-button-group {
  @include display-column();
  gap: 8px;
}

.displayed-name {
  @include font($fs: 47px, $fw: 500, $lh: 56.4px);
  color: #000000;
}

.settings-button-group {
  @include display-horiz($g: 16px);
}

.settings-btn {
  @include display-horiz($g: 8px);
  padding: 0;
  min-width: 63px;
  background-color: transparent;
  border: none;

  img {
    @include size($w: 24px, $h: 24px);
  }

  span {
    @include font($fs: 16px, $fw: 400, $lh: 19.2px);
    color: #2a3647;
  }

  &:hover {
    span {
      font-weight: 700;
      color: #29abe2;
    }

    .edit {
      content: url("/assets/img/contacts/edit_blue.png");
    }

    .delete {
      content: url("/assets/img/contacts/delete_blue.png");
    }
  }
}

.contact-info {
  @include size($w: 207px, $h: 74px);
  @include display-flex($jc: flex-start);

  span {
    @include font($fs: 20px, $fw: 400, $lh: 24px);
    color: #000000;
  }
}

.email-phone-cont {
  @include display-column();
  gap: 22px;
}

.contact-detail-cont {
  @include font($fs: 16px, $fw: 400, $lh: 19.2px);
  @include display-column();
  gap: 15px;
}

.fw-700 {
  font-weight: 700 !important;
}

.email-text {
  color: #007cee;
}

.phone-text {
  color: #000000;
}

::-webkit-scrollbar {
  width: 24px;
}

// mixins.scss
// advanced-mixins.scss
