<div class="label-input-cont">
    <app-label text="Due date" [req]="true"></app-label>
    <div class="input-hint-cont">
        <input [value]="value" class="input text-input" type="text" placeholder="dd/mm/yyyy" maxlength="10"
            [pattern]="datePat" required (input)="onInputChange($event)" (keydown)="onVerifyKey($event)"
            (keyup)="onUpdateDate()">
        <img class="calender" src="../../../assets/img/add-task/calender.png" alt="calender">
        <input [value]="date" name="calender" class="input date-input" type="date" required
            (change)="onUpdateValue($event)">
        <span class="hint" [ngClass]="getHintClass()">
            This field is required.
        </span>
    </div>
</div>