@import "../../../../mixins.scss";

::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.label-input-cont {
  @include display-column($g: 8px);
  width: 440px;
}

.input-hint-cont {
  @include display-column($g: 4px);
  position: relative;
}

.input {
  @include box-padding($p: 11px 15px);
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  @include color-set($c: $black, $bgc: $white);
  font-family: $inter;

  &::placeholder {
    color: $gray;
  }
}

.text-input {
  @include round-border($b: none, $br: 10px);
  @include position($pos: absolute, $l: 0, $t: 0);
  margin: 1px;
  width: calc(100% - 49px);
}

.calender {
  @include size($w: 24px, $h: 24px);
  @include position($pos: absolute, $t: 12px, $r: 16px);
  background-color: $white;
  pointer-events: none;
}

.date-input {
  @include round-border($b: 1px solid $gray, $br: 10px);
  max-height: 48px;

  &:focus {
    border: 1px solid $lightblue;
  }
}

.error {
  border: 1px solid #ff8190;
}

.hint {
  @include font($fs: 12px, $fw: 400, $lh: 14.4px);
  height: 12px;
  font-family: $poppins;
  color: #ff8190;
  opacity: 0;
}

.o-1 {
  opacity: 1;
}
