@import "../../../../assets/styles/add-task-inputs.scss";

.input {
  @include box-padding($p: 11px 15px);
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  @include color-set($c: $black, $bgc: $white);
  @include round-border($b: 1px solid $gray, $br: 10px);
  font-family: $inter;

  &::placeholder {
    color: $gray;
  }
}

.focus {
  border: 1px solid $lightblue;
}

.error {
  border: 1px solid #ff8190;
}

.calender {
  @include size($w: 24px, $h: 24px);
  @include position($pos: absolute, $t: 12px, $r: 16px);
  background-color: $white;
  z-index: 1;
  pointer-events: none;
}

.date-input {
  @include box-padding($p: 0);
  @include size($w: 24px, $h: 24px);
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  @include color-set($c: $black, $bgc: $white);
  @include round-border($b: none, $br: 10px);
  @include position($pos: absolute, $t: 12px, $r: 16px);
  font-family: $inter;

  &::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }
}
