@import "../mixins.scss";

.user-interface {
  display: flex;
}

.menu {
  @include size(232px, 100vh);
  @include display-column(space-between, center);
  @include box-padding($p: 64px 0);
  background-color: #2a3647;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}
