<dialog [open]="dialog.isOpened('deleteContact')" class="dialog" (click)="onClose()">
    <div class="transit-cont" [ngClass]="getClass()" (click)="onClose()">
        <section class="dialog-box" (click)="onStop($event)">
            <div class="button-cont">
                <button class="close-btn" (click)="onClose()"></button>
            </div>

            <div class="text-button-cont">
                <!-- Delete this user + confirmation/delete/logout!!! -->
                @if(resigned) {
                <span class="text">Enter your password.</span>
                <form #form="ngForm">
                    <app-password-input [(ngModel)]="password" name="password"
                        [pattern]="passwordPat"></app-password-input>
                </form>
                <div class="button-cont g-64">
                    <app-button [button]="noBtn" (click)="onClose()"></app-button>
                    <app-button [button]="yesBtn" (click)="onResign()"></app-button>
                </div>
                } @else if(isUser()) {
                <span class="text"><b>Delete</b> your account?</span>
                <div class="button-cont g-64">
                    <app-button [button]="noBtn" (click)="onClose()"></app-button>
                    <app-button [button]="yesBtn" (click)="onResign()"></app-button>
                </div>
                } @else {
                <span class="text"><b>Delete</b> this contact?</span>
                <div class="button-cont g-64">
                    <app-button [button]="noBtn" (click)="onClose()"></app-button>
                    <app-button [button]="yesBtn" (click)="onDelete()"></app-button>
                </div>
                }
            </div>
        </section>
    </div>
</dialog>