@import "../../../../mixins.scss";

.title-border-cont {
  @include display-column($ai: center, $g: 13px);
}

.title {
  @include size($w: 315px, $h: 73px);
  text-align: center;
}

.border {
  @include size($w: 150px, $h: 0);
  border-bottom: 3px solid $lightblue;
  border-radius: 3px;
}

@media (max-width: 428px) {
  .title {
    @include size($w: fit-content, $h: fit-content);
  }

  .border {
    width: 88px;
  }
}
