<section class="edit-task" (click)="stop($event)">
    <div class="category-button-cont">
        <div class="category">
            <span class="category-text">User Story</span>
        </div>

        <img class="close-btn" src="../../../../assets/img/contacts/close.png" alt="close" (click)="dvtData.close()">
    </div>

    <h2 class="headline-2">Kochwelt Page & Recipe Recommender</h2>

    <span class="description">Build start page with recipe recommendation.</span>

    <div class="due-date-cont">
        <span class="due-date-head">Due date</span>
        <span class="due-date-data">10/05/2023</span>
    </div>

    <div class="due-date-cont">
        <span class="due-date-head">Priority</span>
        <div class="prio-img-cont">
            <span class="due-date-data">Medium</span>
            <img src="../../../../assets/img/add-task/prio_medium.png" alt="prio_medium">
        </div>
    </div>

    <div class="assigned-to-cont">
        <span class="due-date-head">Assinged To:</span>

        <div class="assigned-contact-group">
            <div class="assinged-contact-cont">
                <div style="background-color: #1fd7c1" class="profile">
                    <span class="initials">EM</span>
                </div>
                <span class="contact-name">Emmanuel Mauer</span>
            </div>

            <div class="assinged-contact-cont">
                <div style="background-color: #462f8a" class="profile">
                    <span class="initials">EB</span>
                </div>
                <span class="contact-name">Manuel Bauer</span>
            </div>

            <div class="assinged-contact-cont">
                <div style="background-color: #0038ff" class="profile">
                    <span class="initials">AM</span>
                </div>
                <span class="contact-name">Anton Mayer</span>
            </div>
        </div>
    </div>

    <div class="subtask-cont">
        <span class="subtasks-text">Subtasks</span>
        <div class="subtask-group">
            <div class="subtask-line">
                <img src="../../../../assets/img/add-task/checkbox_checked.png" alt="checkbox_checked">
                <span class="subtask-line-text">Implement Recipe Recommendation</span>
            </div>
            <div class="subtask-line">
                <img src="../../../../assets/img/add-task/checkbox.png" alt="checkbox">
                <span class="subtask-line-text">Start Page Layout</span>
            </div>
        </div>
    </div>

    <div class="settings-button-group">
        <button class="settings-btn">
            <img class="delete" src="../../../assets/img/contacts/delete.png" alt="delete">
            <span>Delete</span>
        </button>
        <button class="settings-btn">
            <img class="edit" src="../../../assets/img/contacts/edit.png" alt="edit">
            <span>Edit</span>
        </button>
    </div>
</section>