<section class="edit-task" (click)="stop($event)">
    <div class="category-button-cont">
        <div class="category" [ngClass]="color()">
            <span class="category-text">{{ dvtData.task.category }}</span>
        </div>

        <img class="close-btn" src="../../../../assets/img/contacts/close.png" alt="close" (click)="dvtData.close()">
    </div>

    <h2 class="headline-2">{{ dvtData.task.title }}</h2>

    <span class="description">{{ dvtData.task.description }}</span>

    <div class="due-date-cont">
        <span class="due-date-head">Due date</span>
        <span class="due-date-data">{{ dvtData.task.dueDate }}</span>
    </div>

    <div class="due-date-cont">
        <span class="due-date-head">Priority</span>
        <div class="prio-img-cont">
            <span class="due-date-data">{{ dvtData.task.prio }}</span>
            <img src="../../../../assets/img/add-task/prio_medium.png" alt="prio_medium">
        </div>
    </div>

    <div class="assigned-to-cont">
        <span class="due-date-head">Assinged To:</span>

        <div class="assigned-contact-group">
            <div *ngFor="let contact of dvtData.task.assignedContacts" class="assinged-contact-cont">
                <div [ngStyle]="{ 'background-color': contact.bgc}" class="profile">
                    <span class="initials">{{ contact.initials }}</span>
                </div>
                <span class="contact-name">{{ contact.name }}</span>
            </div>
        </div>
    </div>

    <div class="subtask-cont">
        <span class="subtasks-text">Subtasks</span>
        <div class="subtask-group">
            <div class="subtask-line">
                <img src="../../../../assets/img/add-task/checkbox_checked.png" alt="checkbox_checked">
                <span class="subtask-line-text">Implement Recipe Recommendation</span>
            </div>
            <div class="subtask-line">
                <img src="../../../../assets/img/add-task/checkbox.png" alt="checkbox">
                <span class="subtask-line-text">Start Page Layout</span>
            </div>
        </div>
    </div>

    <div class="settings-button-group">
        <button class="settings-btn">
            <img class="delete" src="../../../assets/img/contacts/delete.png" alt="delete">
            <span>Delete</span>
        </button>
        <button class="settings-btn">
            <img class="edit" src="../../../assets/img/contacts/edit.png" alt="edit">
            <span>Edit</span>
        </button>
    </div>
</section>