@import "../../../../mixins.scss";

.footer {
  @include box-padding($p: 40px 77px);
  @include display-row($jc: center);
  width: 100%;
}

.legal-link-group {
  @include display-flex($ai: flex-start);
  gap: 16px;
  // position: absolute;
  // left: 0;
  // bottom: 0;
}

.legal-link {
  @include box-padding($p: 8px);
  @include font($fs: 16px, $fw: 400, $lh: 19.2px);
  min-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #ababab;

  &:hover,
  &:focus-visible {
    font-weight: 700;
    color: #29abe2;
  }
}

.w-123 {
  width: 125px;
}

.w-111 {
  width: 112px;
}
