@import "../../../../mixins.scss";

.footer {
  @include box-padding($p: 40px 77px);
  @include display-row($jc: center);
}

.legal-link-group {
  @include display-row($jc: center, $g: 16px);
}

.legal-link {
  @include box-padding($p: 8px);
  @include font($fs: 16px, $fw: 400, $lh: 19.2px);
  min-height: 36px;
  text-align: center;
  text-decoration: none;
  color: $darkgray;

  &:hover,
  &:focus-visible {
    font-weight: 700;
    color: $lightblue;
  }
}

.w-128 {
  width: 128px;
}

@media (max-width: 1180px) {
  .footer {
    @include box-padding($p: 25px 38px);
  }

  .legal-link {
    &:hover {
      font-weight: 400;
      color: $darkgray;
    }

    &:active,
    &:focus-visible {
      font-weight: 700;
      color: $lightblue;
    }
  }
}

@media (max-width: 568px) {
  .footer {
    @include box-padding($p: 22px 16px);
  }
}
