@import "../../../mixins.scss";

.login {
  @include display-column($jc: space-between, $ai: center);
  height: 100vh;
}

.header {
  @include box-padding($p: 67px 77px);
  @include display-row($jc: flex-end);
  width: 100%;
}

.sign-up-cont {
  @include display-row($jc: flex-end, $ai: center, $g: 35px);
}

.sign-up-text {
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  color: $black;
}

.sign-up-btn {
  @include box-padding($p: 15px 16px);
  @include font($fs: 16px, $fw: 700, $lh: 19.2px);
  @include color-set($c: $white, $bgc: $dark);
  border: none;
  border-radius: 8px;

  &:hover {
    background-color: $lightblue;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  &:active {
    background-color: $darker;
  }
}

.form-cont {
  @include display-row($jc: center);
  width: 100%;
}

.form {
  @include display-column($g: 32px);
  padding: 48px 115px;
  width: fit-content;
  background-color: $white;
  border-radius: 30px;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
}

.title-border-cont {
  @include display-column($ai: center, $g: 13px);
}

.title {
  text-align: center;
}

.underline {
  @include size($w: 150px, $h: 0);
  border-bottom: 3px solid #29abe2;
  border-radius: 3px;
}

.input-checkbox-cont {
  @include display-column($g: 20px);
}

// input-group!!!

// verify --- verify --- verify
.input-group {
  // height: 152px;    // necessary?
  @include display-column($g: 32px);
}

// verify input component!!!

.remember-me-cont {
  @include box-padding($p: 0 39px);
  @include display-horiz($g: 8px);
  width: 100%;

  img {
    @include size($w: 24px, $h: 24px);
    cursor: pointer;
  }
}

.check {
  content: url("../../../assets/img/sign-up/check.png");

  &:hover {
    content: url("../../../assets/img/sign-up/check_hover.png");
  }
}

.checked {
  content: url("../../../assets/img/sign-up/checked.png");

  &:hover {
    content: url("../../../assets/img/sign-up/checked_hover.png");
  }
}

.remember-me-text {
  @include font($fs: 16px, $fw: 400, $lh: 19.2px);
}

.button-cont {
  @include display-horiz($g: 35px);
}

// mixin?
.log-in-btn {
  @include box-padding($p: 12px 24px);
  background-color: #2a3647;
  border: none;
  // border: 1px solid #2a3647;
  border-radius: 10px;

  div {
    @include font($fs: 21px, $fw: 700, $lh: 25.2px);
    height: 24px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: #ffffff;
  }

  &:hover {
    background-color: #29abe2;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  &:active {
    background: #091931;
  }

  &:disabled {
    background-color: #2a3647;
    box-shadow: unset;
    opacity: 0.5;
  }
}

// add hover + active!!!
// mixin?
.guest-log-in-btn {
  @include box-padding($p: 11px 24px);
  background-color: transparent;
  border: 1px solid #2a3647;
  border-radius: 10px;

  div {
    @include font($fs: 20px, $fw: 700, $lh: 24px);
    height: 24px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: #2a3647;
  }

  &:hover {
    // set 2px !?!
    border: 1px solid #29abe2;
    // border: 2px solid #29abe2;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    div {
      color: #29abe2;
    }

    img {
      content: url("../../../assets/img/add-task/cancel_button_hover.png");
    }
  }

  &:active {
    border: 1px solid #091931;

    div {
      color: #091931;
    }

    img {
      content: url("../../../assets/img/add-task/cancel_button_active.png");
    }
  }

  &:disabled {
    border: 1px solid #2a3647;
    box-shadow: unset;
    opacity: 0.5;

    div {
      color: #2a3647;
    }
  }
}
