@import "../../../mixins.scss";

.login {
  @include display-flex();
  height: calc(100vh - 96px);
  position: relative;
}

.logo-cont {
  @include size($w: 100.03px, $h: 121.97px);
  padding: 80px 77px;
  position: absolute;
  left: 0;
  top: 0;
}

.logo {
  @include size($w: 100%, $h: 100%);
  object-fit: cover;
}

// .large {
//   @include size($w: 274px, $h: 334.07px);
// }

.sign-up-cont {
  @include display-horiz($g: 35px);
  position: absolute;
  top: 67px;
  right: 77px;
}

.sign-up-text {
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  color: #000000;
}

// mixin?
.sign-up-btn {
  @include box-padding($p: 15px 16px);
  background-color: #2a3647;
  border: none;
  // border: 1px solid #2a3647;
  border-radius: 8px;

  div {
    @include font($fs: 16px, $fw: 700, $lh: 19.2px);
    height: 19px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: #ffffff;
  }

  &:hover {
    background-color: #29abe2;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  &:active {
    background: #091931;
  }
}

.content {
  @include display-column($ai: center);
  padding: 48px 115px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
  gap: 32px;
}

.title-border-cont {
  @include display-column($ai: center);
  gap: 13px;

  img {
    @include size($w: 150px, $h: 3px);
  }
}

.title {
  @include size($w: 315px, $h: 73px);
  text-align: center;
}

.input-cont {
  @include display-column();
  gap: 20px;
}

.input-remember-cont {
  // height: 152px;    // necessary?
  @include display-column();
  gap: 32px;
}

.input-hint-cont {
  @include display-column();
  gap: 8px;
}

.input-icon-cont {
  //   @include display-horiz($g: 8px);
  position: relative;
}

// input mixin?
.input {
  @include box-padding($p: 11px 21px);
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  width: 422px;
  color: #d1d1d1;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  // gap: 10px;
}

.input-icon {
  position: absolute;
  top: 12px;
  right: 21px;
}

.input-hint {
  @include font($fs: 12px, $fw: 400, $lh: 14.4px);
  height: 12px;
}

.remember-me-cont {
  @include box-padding($p: 0 39px);
  @include display-horiz($g: 8px);
  width: 100%;
}

.remember-me-text {
  @include font($fs: 16px, $fw: 400, $lh: 19.2px);
}

.button-cont {
  @include display-horiz($g: 35px);
}

// mixin?
.log-in-btn {
  @include box-padding($p: 12px 24px);
  background-color: #2a3647;
  border: none;
  // border: 1px solid #2a3647;
  border-radius: 10px;

  div {
    @include font($fs: 21px, $fw: 700, $lh: 25.2px);
    height: 24px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: #ffffff;
  }

  &:hover {
    background-color: #29abe2;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  &:active {
    background: #091931;
  }
}

// add hover + active!!!
// mixin?
.guest-log-in-btn {
  @include box-padding($p: 11px 24px);
  background-color: transparent;
  border: 1px solid #2a3647;
  border-radius: 10px;

  div {
    @include font($fs: 20px, $fw: 700, $lh: 24px);
    height: 24px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: #2a3647;
  }

  &:hover {
    // set 2px !?!
    border: 1px solid #29abe2;
    // border: 2px solid #29abe2;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    div {
      color: #29abe2;
    }

    img {
      content: url("../../../assets/img/add-task/cancel_button_hover.png");
    }
  }

  &:active {
    border: 1px solid #091931;

    div {
      color: #091931;
    }

    img {
      content: url("../../../assets/img/add-task/cancel_button_active.png");
    }
  }
}

.legal-link-group {
  @include box-padding($p: 40px 77px 40px 77px);
  @include display-horiz($g: 16px);
  width: 100%;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
}

.legal-link {
  @include font($fs: 16px, $fw: 400, $lh: 19.2px);
  padding: 8px;
  text-decoration: none;
  color: #ababab;

  &:hover {
    font-weight: 700;
    color: #29abe2;
  }
}

.w-123 {
  width: 123px;
}

.w-111 {
  width: 111px;
}
