@import "../../../mixins.scss";

.login {
  @include display-column($jc: space-between, $ai: center);
  height: 100vh;
}

.form-cont {
  @include display-row($jc: center);
  width: 100%;
}

.form {
  @include display-column($ai: center, $g: 32px);
  padding: 48px 115px;
  width: fit-content;
  background-color: $white;
  border-radius: 30px;
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
}

.input-checkbox-cont {
  @include display-column($g: 20px);
}

.input-group {
  @include display-column($g: 32px);
  height: 152px;
}

.remember-me-cont {
  @include box-padding($p: 0 0 0 39px);
  @include display-row($ai: center, $g: 8px);
}

.button-group {
  @include display-row($jc: center, $ai: center, $g: 35px);
}

.login-btn {
  @include box-padding($p: 11px 24px);
  @include font($fs: 21px, $fw: 700, $lh: 25.2px);
}

.guest-login-btn {
  @include box-padding($p: 10px 24px);
  @include font($fs: 21px, $fw: 700, $lh: 25.2px);
}
