<app-logo></app-logo>

<section class="login">
    <app-header type="login"></app-header>

    <form [formGroup]="form" class="form" (submit)="onLogin()">
        <app-title title="Log in"></app-title>

        <div class="input-checkbox-cont">
            <div class="column-8">
                <div class="input-group">
                    <app-text-input [control]="email" [config]="config.loginEmail"></app-text-input>
                    <div class="input-error-cont">
                        <app-password-input [control]="password" [config]="config.loginWord"></app-password-input>
                        <div class="error-cont">
                            <span *ngIf="validators.rejected" class="error">{{ error }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="checkbox-link-cont">
                <div class="checkbox-cont">
                    <app-checkbox [checked]="this.remembered" (check)="onRememberMe($event)"></app-checkbox>
                    <span>Remember me</span>
                </div>
                <a routerLink="/new-password" class="new-password-link">I forgot my password</a>
            </div>
        </div>

        <div class="button-group">
            <button class="prim-btn login-btn" type="submmit" [disabled]="isDisabled()">Log in</button>
            <button class="sec-btn login-btn" type="button" (click)="onGuestLogin()">Guest Log in</button>
        </div>
    </form>

    <app-footer></app-footer>
</section>