<section class="add-task">
    <app-join-title [title]="title"></app-join-title>

    <form #addTaskForm="ngForm" class="content" (submit)="addTask(addTaskForm)">
        <div class="left-subcontent">
            <app-title-input [(ngModel)]="task.title" name="title"></app-title-input>
            <app-description-input [(ngModel)]="task.description" name="description"></app-description-input>
            <app-assigned-to-input [(ngModel)]="filter" name="assigned-to"></app-assigned-to-input>
        </div>

        <div class="border"></div>

        <div class="right-subcontent">
            <!-- clean due date input + rename "name" -->
            <!-- <app-due-date-input [(ngModel)]="task.dueDate" name="dueDate"></app-due-date-input> -->

            <div class="label-input-cont">
                <label class="label" for="due-date">
                    <span>Due date</span>
                    <span class="star">*</span>
                </label>
                <div class="input-hint-cont">
                    <input [(ngModel)]="task.dueDate" name="dueDate" class="input-overlay" placeholder="dd/mm/yyyy"
                        [pattern]="dueDatePat" required (keyup)="updateCalender()">
                    <img class="calender" src="../../../assets/img/add-task/calender.png" alt="calender">
                    <input [(ngModel)]="dueDate" name="calender" class="input due-date" type="date" required
                        (change)="formatDueDate()">
                    <span class="hint" [ngClass]="showHint()">
                        This field is required.
                    </span>
                </div>
            </div>

            <!-- clean prio input + prio button!!! -->
            <app-prio-input></app-prio-input>

            <!-- clean category input!!! -->
            <!-- <app-category-input [(ngModel)]="task.category" name="category"></app-category-input> -->
            <div class="label-input-cont">
                <label class="label" for="category">
                    <span>Category</span>
                    <span class="star">*</span>
                </label>
                <div class="input-hint-cont">
                    <input [(ngModel)]="task.category" name="category" class="selection read-only" type="text"
                        placeholder="Select task category" required (click)="switchCategory()" readonly>
                    <img class="drop-down-arrow" [src]="updateArrowCategory()" alt="drop_down_arrow"
                        (click)="switchCategory()">

                    <div class="category-list" [ngClass]="dialog.isOpened(id) ? 'show' : ''">
                        <div #technicalTask class="category-item" (click)="setCategory(technicalTask)">
                            <span>Technical Task</span>
                        </div>

                        <div #userStory class="category-item" (click)="setCategory(userStory)">
                            <span>User Story</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <app-subtasks-input [(ngModel)]="subtask" name="subtasks"></app-subtasks-input> -->
            <div class="label-input-cont">
                <label class="label" for="subtasks">
                    <span>Subtasks</span>
                </label>
                <div class="input-hint-cont">
                    <input [(ngModel)]="subtask" name="subtasks" class="input p-16" type="text"
                        placeholder="Add new subtask">
                    <div *ngIf="subtask != ''" class="sub-icon-cont">
                        <img src="../../../assets/img/add-task/cancel.png" alt="cancel" (click)="subtask = ''">
                        <div class="sub-icon-border"></div>
                        <img src="../../../assets/img/add-task/check.png" alt="check"
                            (click)="subTData.add(subtask); subtask = ''">
                    </div>
                    <img *ngIf="subtask == ''" class="drop-down-arrow"
                        src="../../../assets/img/add-task/add_subtask.png" alt="drop_down_arrow">
                </div>
                <div class="subtasks-cont">
                    <ul>
                        <div *ngFor="let subtask of subTData.subtasks; index as i" class="subtask-cont"
                            (click)="stop($event)">
                            <div *ngIf="!subtask.focused" class="li-cont" (click)="subTData.edit(i)">
                                <li>{{ subtask.text }}</li>
                            </div>
                            <div *ngIf="subtask.focused" class="subinput-icon-cont">
                                <input [(ngModel)]="subTData.currValue" name="subtask" class="subtask" type="text"
                                    [value]="subtask.text">
                                <div class="subtask-icon-cont">
                                    <img src="../../../assets/img/add-task/delete.png" alt="delete"
                                        (click)="subTData.delete()">
                                    <div class="sub-icon-border"></div>
                                    <img src="../../../assets/img/add-task/check.png" alt="check"
                                        (click)="subTData.save(i)">
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </form>

    <div class="hint-button-group">
        <div class="button-group">
            <button class="clear-task-btn" (click)="resetForm(addTaskForm)">
                <span>Clear</span>
                <img src="../../../assets/img/add-task/cancel_button.png" alt="cancel_button">
            </button>
            <!-- button for form or section tag to form tag!!! -->
            <button class="create-task-btn" (click)="addTask(addTaskForm)">
                <span>Create Task</span>
                <img src="../../../assets/img/add-task/create_button.png" alt="create_button">
            </button>
        </div>
        <div class="hint-cont">
            <span class="star">*</span>
            <span>This field is required</span>
        </div>
    </div>
</section>