@import "../../../mixins.scss";

.add-task {
  @include box-padding($p: 110px 96px);
  @include size($w: 100%, $h: calc(100vh - 96px));
  @include display-column($g: 28px);
}

.form {
  display: flex;
  gap: 48.25px;
}

.left-fieldset {
  @include display-column($g: 16px);
  height: fit-content;
}

.border {
  @include size($w: 0, $h: 424px);
  border-right: 1px solid $gray;
}

.right-fieldset {
  @include display-column($g: 24px);
  height: fit-content;
}

.button-group {
  @include display-row($jc: flex-end, $ai: center, $g: 16px);
}

.hint-cont {
  @include font($fs: 16px, $fw: 400, $lh: 19.2px);
}

.star {
  color: #ff8190;
}
