@import "../../../mixins.scss";

.add-task {
  min-height: 100%;
}

.padding-desktop {
  @include box-padding($p: 110px 96px);
}

.padding-dialog {
  @include box-padding($p: 64px 74px);
}

.content {
  @include size($w: 977px, $h: 100%);
  @include display-column($g: 48px);
}

.column-desktop {
  @include display-column($g: 48px);
}

.column-dialog {
  @include display-column($g: 32px);
}

.form {
  @include display-row($jc: space-between, $g: 48px);
}

.left-fieldset {
  @include display-column($g: 16px);
  @include size($w: 440px, $h: fit-content);
}

.border {
  @include size($w: 0, $h: 424px);
  border-right: 1px solid $gray;
}

.right-fieldset {
  @include display-column($g: 24px);
  @include size($w: 440px, $h: fit-content);
}

.hint-button-cont {
  @include display-flex($jc: space-between, $ai: flex-end);
}

.hint-cont {
  @include font($fs: 16px, $fw: 400, $lh: 19.2px);
}

.star {
  color: #ff8190;
}

.button-group {
  @include display-row($jc: flex-end, $ai: center, $g: 16px);
}

@media (max-width: 1439px) {
  .padding-desktop {
    padding: 64px 48px;
  }

  .content {
    width: 100%;
    max-width: 977px;
  }

  .form {
    gap: 30px;
  }

  .left-fieldset {
    width: 100%;
    max-width: 440px;
  }

  .right-fieldset {
    width: 100%;
    max-width: 440px;
  }
}

@media (max-width: 1180px) {
  .add-task {
    @include display-column($ai: center);
    padding: 0;
  }

  .content {
    width: 100%;
    max-width: 428px;
    height: fit-content;
    gap: 32px;
  }

  .column-desktop {
    padding: 48px 16px 16px 16px;
    gap: 32px;
  }

  .form {
    @include display-column($g: 16px);
  }

  .border {
    display: none;
  }

  .right-fieldset {
    gap: 16px;
  }

  .hint-button-cont {
    @include position($pos: sticky, $l: 0, $b: 0);
    box-sizing: border-box;
    padding: 11px 16px 19px 16px;
    width: 100%;
    background-color: $lightgray;
    justify-content: flex-end;
    z-index: 10;
  }
}
