<section class="add-task">
    <h2 class="headline-2">Add Task</h2>

    <form #addTaskForm="ngForm" class="content" (submit)="addTask(addTaskForm)">
        <div class="left-subcontent">
            <div class="label-input-cont">
                <label class="label" for="title">
                    <span>Title</span>
                    <span class="star">*</span>
                </label>
                <div class="input-hint-cont">
                    <input [(ngModel)]="task.title" name="title" class="input" type="text" placeholder="Enter a title"
                        minlength="2" required>
                    <span class="hint">
                        This field is required.
                    </span>
                </div>
            </div>

            <div class="label-input-cont">
                <label class="label" for="description">
                    <span>Description</span>
                    <!-- <span class="star">*</span> -->
                </label>
                <div class="input-hint-cont">
                    <textarea [(ngModel)]="task.description" name="description" class="textarea"
                        placeholder="Enter a description"></textarea>
                    <div class="resizer-frame">
                        <img class="resizer" src="../../../assets/img/add-task/resizer.png" alt="resizer">
                    </div>
                    <span class="hint">
                        This field is required.
                    </span>
                </div>
            </div>

            <div class="label-input-cont">
                <label class="label" for="assigned-to">
                    <span>Assigned to</span>
                    <!-- <span class="star">*</span> -->
                </label>
                <div class="input-hint-cont" (click)="stop($event)">
                    <input [(ngModel)]="filter" name="assignedTo" class="selection" type="text"
                        placeholder="Select contacts to assign" (focus)="logFocus()" (keyup)="filterAC()">
                    <!-- <div class="drop-down-arrow"></div> -->
                    <img class="drop-down-arrow" [src]="updateArrow()" alt="drop_down_arrow">
                    <!-- <span class="hint">
                        This field is required.
                    </span> -->

                    <div class="assignable-contacts-list" [ngClass]="asToData.opened ? 'show' : ''">
                        <!-- Create an own component for assignable contact!!! -->
                        <!-- add class for ngFor container!!! -->
                        <div *ngFor="let contact of assignableContacts; index as i" style="width: 100%;">
                            <div *ngIf="contact.name.includes(filter)" class="assignable-contact"
                                [ngClass]="contact.assigned ? 'assigned' : ''" (click)="assign(i)">
                                <div class="profile-name-cont">
                                    <div class="profile">
                                        <span class="initials">{{ contact.initials }}</span>
                                    </div>
                                    <span class="name">{{ contact.name }} &#40;You&#41;</span>
                                </div>
                                <img [ngClass]="getCheckbox(i)" [src]="getSrc(i)" alt="checkbox">
                                <!-- <img src="../../../assets/img/add-task/checkbox.png" alt="checkbox"> -->
                            </div>
                        </div>

                        <!-- <div class="assignable-contact">
                            <div class="profile-name-cont">
                                <div class="profile">
                                    <span class="initials">SM</span>
                                </div>
                                <span class="name">Sofia Müller &#40;You&#41;</span>
                            </div>
                            <img src="../../../assets/img/add-task/checkbox.png" alt="checkbox">
                        </div>

                        <div class="assignable-contact">
                            <div class="profile-name-cont">
                                <div class="profile">
                                    <span class="initials">AS</span>
                                </div>
                                <span class="name">Anja Schulz</span>
                            </div>
                            <img src="../../../assets/img/add-task/checkbox.png" alt="checkbox">
                        </div>

                        <div class="assignable-contact">
                            <div class="profile-name-cont">
                                <div class="profile">
                                    <span class="initials">EF</span>
                                </div>
                                <span class="name">Eva Fischer</span>
                            </div>
                            <img src="../../../assets/img/add-task/checkbox.png" alt="checkbox">
                        </div> -->
                    </div>

                    <!-- <div class="assigned-contacts">
                        <div style="background-color: #9327ff" class="profile">
                            <span class="initials">AS</span>
                        </div>
                        <div style="background-color: #fc71ff" class="profile">
                            <span class="initials">DE</span>
                        </div>
                        <div style="background-color: #ffbb2b" class="profile">
                            <span class="initials">EF</span>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

        <div class="vector-frame">
            <img class="vector" src="../../../assets/img/add-task/add_task_vector.png" alt="add_task_vector">
        </div>

        <div class="right-subcontent">
            <div class="label-input-cont">
                <label class="label" for="due-date">
                    <span>Due date</span>
                    <span class="star">*</span>
                </label>
                <div class="input-hint-cont">
                    <input [(ngModel)]="task.dueDate" name="dueDate" class="input-overlay" placeholder="dd/mm/yyyy"
                        [pattern]="dueDatePat" required (keyup)="updateCalender()">
                    <img class="calender" src="../../../assets/img/add-task/calender.png" alt="calender">
                    <input [(ngModel)]="dueDate" name="calender" class="input due-date" type="date" required
                        (change)="formatDueDate()">
                    <span class="hint" [ngClass]="showHint()">
                        This field is required.
                    </span>
                </div>
            </div>

            <div class="label-input-cont">
                <span class="label">Prio</span>
                <div class="prio-button-group">
                    <app-prio-button id="urgent" img="prio_urgent"></app-prio-button>
                    <app-prio-button id="medium" img="prio_medium"></app-prio-button>
                    <app-prio-button id="low" img="prio_low"></app-prio-button>
                </div>
                <!-- add more space here! -->
            </div>

            <div class="label-input-cont">
                <label class="label" for="category">
                    <span>Category</span>
                    <span class="star">*</span>
                </label>
                <div class="input-hint-cont">
                    <input [(ngModel)]="task.category" name="category" class="selection" type="text"
                        placeholder="Select task category" required>
                    <!-- <div class="drop-down-arrow"></div> -->
                    <img class="drop-down-arrow" src="../../../assets/img/add-task/drop_down_arrow_down.png"
                        alt="drop_down_arrow">
                    <!-- <span class="hint">
                        This field is required.
                    </span> -->

                    <!-- <div class="assignable-contacts-list">
                        <div class="category-item">
                           <span>Technical Task</span>
                        </div>

                        <div class="category-item">
                            <span>User Story</span>
                         </div>
                    </div> -->
                </div>
            </div>

            <div class="label-input-cont">
                <label class="label" for="subtasks">
                    <span>Subtasks</span>
                    <!-- <span class="star">*</span> -->
                </label>
                <div class="input-hint-cont">
                    <input [(ngModel)]="task.subtasks" name="subtask" class="input" type="text"
                        placeholder="Add new subtask">
                    <!-- <div class="drop-down-arrow"></div> -->
                    <img class="drop-down-arrow" src="../../../assets/img/add-task/add_subtask.png"
                        alt="drop_down_arrow">
                    <!-- <span class="hint">
                        This field is required.
                    </span> -->

                    <!-- <div class="assignable-contacts-list">
                        <div class="category-item">
                           <span>Technical Task</span>
                        </div>

                        <div class="category-item">
                            <span>User Story</span>
                         </div>
                    </div> -->
                </div>
            </div>
        </div>
    </form>

    <div class="hint-button-group">
        <div class="button-group">
            <button class="clear-task-btn" (click)="resetForm(addTaskForm)">
                <span>Clear</span>
                <img src="../../../assets/img/add-task/cancel_button.png" alt="cancel_button">
            </button>
            <!-- button for form or section tag to form tag!!! -->
            <button class="create-task-btn" (click)="addTask(addTaskForm)">
                <span>Create Task</span>
                <img src="../../../assets/img/add-task/create_button.png" alt="create_button">
            </button>
        </div>
        <div class="hint-cont">
            <span class="star">*</span>
            <span>This field is required</span>
        </div>
    </div>
</section>