<div *ngIf="isOpened()" @contactDialogAnimation class="dialog">
    <div class="transit-cont" [ngClass]="getTransitClass()" (click)="onClose()">

        <section class="add-contact pos-relative" (click)="onStop($event)">
            <button class="close-btn flexible-close-btn" (click)="onClose()"></button>

            <div class="dark-cont" [ngClass]="getGapClass()">
                <img class="logo" src="/assets/img/menu/menu_logo.png" alt="menu-logo">
                <app-join-title [title]="title" [subtitle]="subtitle" [mobile]="true" [dark]="true"></app-join-title>
            </div>

            <div class="light-cont">
                <button class="close-btn flexible-close-btn" (click)="onClose()"></button>

                <div class="profile-form-cont">
                    <div class="profile-cont">
                        <div class="profile" [ngClass]="getBgcClass()">
                            @if (isEditContactDialog()) {
                            <span class="initials">{{ contact.initials }}</span>
                            } @else {
                            <img class="img-64" src="/assets/img/contacts/person.png" alt="person">
                            }
                        </div>
                    </div>

                    <form [formGroup]="form" class="form">
                        <div class="input-group">
                            <app-text-input [control]="get('name')" [config]="config.name"></app-text-input>
                            <app-text-input [control]="get('email')" [config]="config.email"></app-text-input>
                            <app-text-input [control]="get('phone')" [config]="config.name"></app-text-input>
                        </div>

                        <div class="button-group">
                            @if(isEditContactDialog()) {
                            <app-button [button]="deleteBtn" (click)="onDelete()"></app-button>
                            <app-button [button]="saveBtn" (click)="onSave()"></app-button>
                            } @else {
                            <app-button [button]="cancelBtn" class="desktop" (click)="onClose()"></app-button>
                            <app-button [button]="createBtn" (click)="onCreate()"></app-button>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </section>

    </div>
</div>