@import "../../../../mixins.scss";

.dialog-cont {
  @include display-flex();
  background-color: $white;
  border-radius: 30px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}

// add hover img + set size!!!
.cancel-btn {
  position: absolute;
  top: 64px;
  right: 40px;
  cursor: pointer;
}
