@import "../../../../mixins.scss";

.dialog {
  @include size($w: 100%, $h: 100vh);
  @include position($pos: fixed, $l: 0, $t: 0);
  padding: 0;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  display: none; // visibility, opacity, transition???
  z-index: 10;
}

.dialog[open] {
  @include display-flex();
}

.add-contact {
  @include round-border($b: none, $br: 30px);
  @include display-row();
  background-color: $white;
}

.dark-cont {
  @include box-padding($p: 154px 48px 66px 48px);
  @include size($w: fit-content, $h: 592px);
  @include display-column($g: 12px);
  background-color: $dark;
  border-radius: 30px 0 0 30px;
}

.logo {
  @include size($w: 55.6px, $h: 66.48px);
}

.light-cont {
  @include box-padding($p: 138px 48px 48px 84px);
  border-radius: 0 30px 30px 0;
  position: relative;
}

.close-btn {
  @include size($w: 32px, $h: 32px);
  @include position($pos: absolute, $t: 48px, $r: 48px);
  padding: 0;
  background-color: transparent;
  background-image: url("../../../../assets/img/board/close_default.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  border: none;
  transition: all 100ms ease-in-out;

  &:hover {
    background-image: url("../../../../assets/img/board/close_hover.png");
  }

  &:active {
    background-image: url("../../../../assets/img/board/close_default.png");
  }
}

.profile-form-cont {
  @include display-row($g: 72px);
}

.profile-cont {
  padding-top: 66px;
}

.profile {
  @include min-size($w: 120px, $h: 120px);
  @include max-size($w: 120px, $h: 120px);
  @include round-border($b: 3px solid $white, $br: 70px);
  @include display-flex();
  box-sizing: border-box;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.initials {
  @include font($fs: 47px, $fw: 500, $lh: 56.4px);
  text-align: center;
  color: $white;
}

.form {
  @include display-column($g: 48px);
}

.input-group {
  @include display-column($g: 32px);
}

.button-group {
  @include display-row($g: 24px);
}
