@import "../../../../mixins.scss";

.dialog {
  @include size($w: 100%, $h: 100vh);
  @include position($pos: fixed, $l: 0, $t: 0);
  background-color: rgba(0, 0, 0, 0);
  z-index: 10;
}

.flip-menu {
  @include display-column();
  padding: 10px;
  background-color: $dark;
  border-radius: 20px 0 20px 20px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  transition: all 100ms ease-in-out;
}

.flip-in {
  @include position($pos: absolute, $t: 96px, $r: -158px);
}

.flip-out {
  @include position($pos: absolute, $t: 96px, $r: 24px);
}

.button {
  @include box-padding($p: 8px 16px);
  @include size($w: 138px, $h: 46px);
  @include round-border($b: none, $br: 8px);
  @include display-row($ai: center);
  background-color: transparent;

  &:hover {
    background-color: #2a3d59;
  }
}

.text {
  @include font($fs: 16px, $fw: 400, $lh: 19.2px);
  color: #cdcdcd;
}

@media (max-width: 1180px) {
  .flip-in {
    top: 80px;
  }

  .flip-out {
    top: 80px;
    right: 8px;
  }

  .button {
    &:hover {
      background-color: transparent;
    }

    &:active {
      background-color: #2a3d59;
    }
  }
}
