@import "../../../../mixins.scss";

.logo-main-link-cont {
  @include display-column($ai: center, $g: 120px);
  width: 100%;
}

.logo {
  @include size(100.03px, 121.97px);
}

.main-link-group {
  @include display-column($g: 15px);
  width: 100%;
}

.legal-link-group {
  @include box-padding($p: 0 52px);
  @include display-column($g: 4px);
  width: 100%;
}

.legal-link {
  padding: 8px;
  color: #a8a8a8;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    font-weight: 700;
    color: $lightblue;
  }
}
