<img class="logo" src="../../../../assets/img/menu/menu_logo.svg" alt="menu-logo">

<div class="main-link-group">
    <div class="link-cont">
        <img src="../../../../assets/img/menu/summary_icon.svg" alt="summary-icon">
        <span>Summary</span>
    </div>
    <div class="link-cont">
        <img src="../../../../assets/img/menu/task_icon.svg" alt="task-icon">
        <span>Add task</span>
    </div>
    <div class="link-cont">
        <img src="../../../../assets/img/menu/board_icon.svg" alt="board-icon">
        <span>Board</span>
    </div>
    <div class="link-cont">
        <img src="../../../../assets/img/menu/contacts_icon.svg" alt="contacts-icon">
        <span>Contacts</span>
    </div>
</div>

<div class="legal-link-group">
    <a class="legal-link">Privacy Policy</a>
    <a class="legal-link">Legal Notice</a>
</div>