@import "../../../../mixins.scss";

.menu-logo-cont {
  @include display-column($ai: center);
  width: 100%;
  gap: 120px;
}

.logo {
  @include size(100.03px, 121.97px);
}

.main-link-group {
  @include display-column();
  width: 100%;
  gap: 15px;
}

.main-link {
  width: 100%;
}

.legal-link-group {
  @include box-padding($p: 0 52px);
  @include display-column();
  width: 100%;
  gap: 4px;
}

.legal-link {
  padding: 8px;
  color: #a8a8a8;
  cursor: pointer;

  &:hover {
    font-weight: 700;
    color: #29abe2;
  }
}
