<div class="logo-main-link-cont">
    <img class="logo" src="../../../../assets/img/menu/menu_logo.png" alt="menu_logo">

    <div class="main-link-group">
        <app-main-link *ngFor="let link of mainLinks, index as i" [link]="link" class="main-link"
            (click)="setLink(i)"></app-main-link>
    </div>
</div>

<div class="legal-link-group">
    <a routerLink="privacy-policy" target="_blank" class="legal-link">Privacy Policy</a>
    <a routerLink="legal-notice" target="_blank" class="legal-link">Legal Notice</a>
</div>