<div class="logo-main-link-cont">
    <img class="logo" [src]="getSrc('menu_logo')" alt="menu_logo">

    <div class="main-link-group">
        @for (link of mainLinks; track link.id) {
        <button [routerLink]="link.id" class="main-link" [disabled]="isDisabled(link.id)">
            <img class="opacity" [src]="getSrc(link.img)" [alt]="link.img">
            <span class="opacity">{{ link.text }}</span>
        </button>
        }
    </div>
</div>

<div class="legal-link-group">
    @for (link of legalLinks; track link.id) {
    <button [routerLink]="link.id" class="legal-link" [disabled]="isDisabled(link.id)">
        <span>{{ link.text }}</span>
    </button>
    }
</div>