@import "../../../mixins.scss";

.help {
  @include box-padding($p: 110px 96px);
  @include display-column($g: 32px);
  min-height: calc(100vh - 96px);
  color: $black;
}

h3 {
  @include font($fs: 27px, $fw: 700, $lh: 32.4px);
  color: $black;
}

.item-cont {
  @include display-row($g: 35px);
}

.item {
  @include font($fs: 27px, $fw: 700, $lh: 32.4px);
  color: $black;
}

h4 {
  @include font($fs: 20px, $fw: 700, $lh: 24px);
  color: $black;
}
