@import "../../../../mixins.scss";

.button {
  @include box-padding($p: 8px);
  @include size($w: 80px, $h: 76px);
  @include round-border($b: none, $br: 16px);
  @include display-column($jc: center, $ai: center);
  background-color: $dark;
  opacity: 0.8;
  transition: all 100ms ease-in-out;

  &:active,
  &:disabled {
    background-color: $darker;
    opacity: 1;
  }
}

.dummy-button {
  @include box-padding($p: 8px);
  @include size($w: 80px, $h: 76px);
  @include round-border($b: none, $br: 16px);
  background-color: transparent;
}

.icon-text-cont {
  @include box-padding($p: 15px 0);
  @include size($w: 76px, $h: 76px);
  @include display-column($jc: center, $ai: center, $g: 10px);
}

.icon {
  @include size($w: 24px, $h: 24px);
}

.text {
  @include font($fs: 14px, $fw: 400, $lh: 16.8px);
  max-width: 66px;
  font-family: $openSans;
  color: $white;
}

@media (max-width: 360px) {
  .button {
    width: 70px;
  }

  .dummy-button {
    width: 70px;
  }

  .text {
    @include font($fs: 12px, $fw: 400, $lh: 14.4px);
  }
}
