<div [id]="id" class="column">
    <div class="head">
        <span class="head-text">{{ name }}</span>
        <button *ngIf="displayed" class="add-btn" (click)="onAddTask()"></button>
    </div>

    <div class="body" (dragover)="onSetTarget($event)" (drop)="onUpdateTask(id)">
        <div *ngIf="isPlaceholderDisplayed()" class="placeholder">
            <span class="placeholder-text">No tasks {{ name }}</span>
        </div>

        @for(task of tasks; track task) {
        <app-draggable-task *ngIf="isTaskFiltered(task)" [task]="task"></app-draggable-task>
        }

        <div *ngIf="isNeighborColumn()" class="feedback" [ngClass]="getBgcClass()"></div>
    </div>
</div>