@import "../../../mixins.scss";

.legal-notice {
  @include box-padding($p: 110px 96px);
  @include display-column($g: 32px);
  min-height: calc(100vh - 96px);
  color: $black;
}

.imprint {
  @include display-column($g: 16px);
}

.address {
  font-style: normal;
}

.c-lightblue {
  color: $lightblue;
}

@media (max-width: 1180px) {
  .legal-notice {
    padding: 48px 32px;
  }
}

@media (max-width: 768px) {
  .legal-notice {
    padding: 48px 24px;
  }
}

@media (max-width: 568px) {
  .legal-notice {
    padding: 48px 16px;
  }
}
