@import "../../../mixins.scss";

.imprint {
  @include display-column($g: 16px);
}

h3 {
  @include font($fs: 27px, $fw: 700, $lh: 32.4px);
  color: $black;
}

.address {
  font-style: normal;
}

h4 {
  @include font($fs: 20px, $fw: 700, $lh: 24px);
  color: $black;
}
