@import "../../../mixins.scss";

.legal-notice {
  @include box-padding($p: 110px 96px);
  @include display-column($g: 32px);
  min-height: calc(100vh - 96px);
  color: $black;
}

.content {
  @include display-column($g: 24px);
}

.imprint {
  @include display-column($g: 16px);
}

.headline-3 {
  @include font($fs: 27px, $fw: 700, $lh: 32.4px);
  color: $black;
}

.address {
  font-style: normal;
}

.link {
  text-decoration: none;
  color: $lightblue;

  &:hover {
    text-decoration: underline;
  }
}

.headline-5 {
  @include font($fs: 16px, $fw: 700, $lh: 19.2px);
  color: $black;
}

.c-lightblue {
  color: $lightblue;
}
