<div>Rudolf Johann Sachslehner<br />
    Wiener Stra&szlig;e 6-8/1/21<br />
    3430 Tulln an der Donau<br />
    &Ouml;sterreich<br />
    <br />
    Tel.: +436641922794<br />
    E-Mail: rudolf.sachslehner&#64;gmx.at<br />
    <br />
    Beh&ouml;rde gem&auml;&szlig; ECG: Bezirkshauptmannschaft Tulln<br />
    <br />
    Unternehmensgegenstand: Angebot von Softwareentwicklungsleistungen<br />
    <br />
    Plattform der EU-Kommission zur Online-Streitbeilegung: <a target="_blank"
        href="https://ec.europa.eu/consumers/odr">https://ec.europa.eu/consumers/odr</a><br />
    <br />
    Wir sind zur Teilnahme an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle weder verpflichtet
    noch bereit.
</div>

<!-- add this at the end! -->
<!-- -------------------- -->
<!-- <div id="itkanzlei_txt_copyright" style="font-size: 12px; margin-top: 8em;">
    <div style="display: inline-block; vertical-align: top; margin-left: 5px; float: right; white-space: nowrap;">Stand:
        21.03.2025, 16:57:46 Uhr</div>
    <div style="clear: right;"></div>
</div> -->