<app-dialog-add-task class="dialog-add-task" [ngClass]="datData.closed ? 'closed': ''"
    (click)="datData.close()"></app-dialog-add-task>
<app-dialog-view-task class="dialog-view-task" [ngClass]="dvtData.closed ? 'view-closed' : ''"
    (click)="dvtData.close()"></app-dialog-view-task>
<app-dialog-edit-contact class="dialog-edit-contact" [ngClass]="decData.closed ? 'edit-closed' : ''"
    (click)="decData.close()"></app-dialog-edit-contact>
<app-dialog-add-contact class="dialog-add-contact" [ngClass]="dacData.closed ? 'add-closed' : ''"
    (click)="dacData.close()"></app-dialog-add-contact>

<div class="user-interface"
    (click)="dialog.close('assignedTo'); dialog.close('category'); subTData.resetFocus(); subTData.save(subTData.currIndex)">
    <app-menu class=" menu"></app-menu>
    <div class="content">
        <app-join-header class="header"></app-join-header>
        <main class="main">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>