@import "../../../mixins.scss";

.dialog-add-task {
  @include size($w: 100%, $h: 100vh);
  @include display-flex();
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 10;
}

.closed {
  display: none;
}

// double code!!!
.dialog-view-task {
  @include size($w: 100%, $h: 100vh);
  @include display-flex();
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 10;
}

// double code!!!
.view-closed {
  display: none;
}

// double code!!!
.dialog-edit-contact {
  @include size($w: 100%, $h: 100vh);
  @include display-flex();
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 10;
}

// double code!!!
.edit-closed {
  display: none;
}

// double code!!!
.dialog-add-contact {
  @include size($w: 100%, $h: 100vh);
  @include display-flex();
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 10;
}

// double code!!!
.add-closed {
  display: none;
}

.user-interface {
  display: flex;
}

.menu {
  @include box-padding($p: 64px 0);
  @include size(232px, 100vh);
  @include display-column(space-between, center);
  background-color: $dark;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.content {
  width: calc(100% - 232px);
}

.main {
  height: calc(100vh - 96px);
  color: #2a3647;
  display: flex;
  overflow-x: hidden;
}

.mobile-menu {
  // only for testing
  height: 80px;
  background-color: $dark;
  display: none;
}

@media (max-width: 1180px) {
  .menu {
    display: none;
  }

  .content {
    width: 100%;
  }

  .main {
    height: calc(100vh - 160px);
  }

  .mobile-menu {
    display: block;
  }
}
