@import "../../../mixins.scss";

.user-interface {
  @include display-row();
}

.menu {
  @include box-padding($p: 64px 0);
  @include size(232px, 100vh);
  @include display-column(space-between, center);
  background-color: $dark;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.content {
  width: calc(100% - 232px);
}

.join-header {
  @include box-padding($p: 20px 40px 20px 96px);
  min-height: 96px;
  background-color: $white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  position: relative;
  z-index: 1;
}

.main {
  height: calc(100vh - 96px);
  color: $dark;
  display: flex;
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.mobile-menu {
  display: none;
}

@media (min-width: 1921px) {
  .menu {
    padding-left: calc(50% - 960px);
    width: calc(50% - 728px);
  }

  .content {
    width: calc(50% + 728px);
  }
}

@media (max-width: 1180px) {
  .menu {
    display: none;
  }

  .content {
    width: 100%;
  }

  .join-header {
    padding: 20px 32px;
    min-height: 80px;
  }

  .main {
    height: calc(100vh - 160px);
  }

  .mobile-menu {
    height: 80px;
    background-color: $dark;
    display: block;
  }
}

@media (max-width: 768px) {
  .join-header {
    padding: 20px 24px;
  }
}

@media (max-width: 568px) {
  .join-header {
    padding: 20px 16px;
  }
}
