@import "../../../mixins.scss";

.user-interface {
  @include display-row($jc: center);
}

.menu {
  @include box-padding($p: 64px 0);
  @include size(232px, 100vh);
  @include display-column(space-between, center);
  background-color: $dark;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.content {
  width: calc(100% - 232px);
  max-width: 1688px;
}

.main {
  height: calc(100vh - 96px);
  color: $dark;
  display: flex;
  position: relative;
  overflow-x: hidden;
}

.mobile-menu {
  display: none;
}

@media (max-width: 1180px) {
  .menu {
    display: none;
  }

  .content {
    width: 100%;
  }

  .main {
    height: calc(100vh - 160px);
  }

  .mobile-menu {
    height: 80px;
    background-color: $dark;
    display: block;
  }
}
