@import "../../../../mixins.scss";

.mobile-theme {
  @include display-column($g: 13px);
}

.title-cont {
  @include display-row($ai: center, $g: 30px);
}

.mobile-title-cont {
  @include display-column($g: 8px);
}

.black {
  color: $black;
}

.white {
  color: $white;
}

.border {
  height: 59px;
  border-right: 3px solid $lightblue;
  border-radius: 3px;
}

.alternative-border {
  width: 90px;
  border-bottom: 3px solid $lightblue;
  border-radius: 3px;
}
