$black: #000000;
$dark: #2a3647;
$darker: #091931;
$darkgray: #a8a8a8;
$gray: #d1d1d1;
$lightgray: #f6f7f8;
$lightblue: #29abe2;
$error: #ff001f; // rename to ???
$hint: #ff8190; // rename to error
$white: #ffffff;
$urgent: #ff3d00;
$medium: #ffa800;
$low: #7ae229;

$inter: "Inter", Arial, Helvetica, sans-serif;
$openSans: "Open Sans", Arial, Helvetica, sans-serif;
$poppins: "Poppins", Arial, Helvetica, sans-serif;

// rename to camelCase!!!
$urgent_white: "/assets/img/add-task/prio_urgent_white.png";
$medium_white: "/assets/img/add-task/prio_medium_white.png";
$low_white: "/assets/img/add-task/prio_low_white.png";
// move variabels!!!

@mixin box-padding($p) {
  box-sizing: border-box;
  padding: $p;
}

@mixin background-images($d, $h) {
  background-image: url($d);

  &:hover,
  &:focus-visible {
    background-image: url($h);
  }
}

@mixin color-set($c, $bgc) {
  color: $c;
  background-color: $bgc;
}

// move gap to mixin (in files)!!!
@mixin display-column($jc: flex-start, $ai: normal, $g: normal normal) {
  display: flex;
  flex-direction: column;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin display-flex($jc: center, $ai: center, $g: normal normal) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin display-horiz($g) {
  display: flex;
  align-items: center;
  gap: $g;
}

@mixin display-row($jc: flex-start, $ai: normal, $g: normal normal) {
  display: flex;
  flex-direction: row;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin font($fs: 16px, $fw: 400, $lh: 19.2px) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

// background-images instead?!
// version with default, hover, active???
@mixin img-content($src1, $src2) {
  content: url($src1);

  &:hover {
    content: url($src2);
  }
}

@mixin max-size($w, $h) {
  max-width: $w;
  max-height: $h;
}

@mixin min-size($w, $h) {
  min-width: $w;
  min-height: $h;
}

@mixin position($pos: relative, $l: auto, $t: auto, $r: auto, $b: auto) {
  position: $pos;
  left: $l;
  top: $t;
  right: $r;
  bottom: $b;
}

@mixin prio-disabled($bgc, $path) {
  &:disabled {
    background-color: $bgc;

    img {
      content: url($path);
    }
  }
}

@mixin round-border($b: none, $br: 0) {
  border: $b;
  border-radius: $br;
}

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

// review mixins!!!
// check global and local mixins!!!
