@mixin box-padding($p) {
  box-sizing: border-box;
  padding: $p;
}

@mixin display-column($jc: flex-start, $ai: flex-start) {
  display: flex;
  flex-direction: column;
  justify-content: $jc;
  align-items: $ai;
}

@mixin display-flex($jc: center, $ai: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin display-horiz($g) {
  display: flex;
  align-items: center;
  gap: $g;
}

@mixin font($fs: 16px, $fw: 400, $lh: 19.2px) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin max-size($w, $h) {
  max-width: $w;
  max-height: $h;
}

@mixin min-size($w, $h) {
  min-width: $w;
  min-height: $h;
}

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

// added mixin color + bgc!
// review mixins!!!
