@import "./mixins.scss";

body {
  @include font();
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: white;
  background-color: #f0f0f0;
}

button {
  cursor: pointer;
}

app-summary {
  width: 100%;
}

.headline-2 {
  @include font($fs: 61px, $fw: 700, $lh: 73.2px);
  margin: 0;
  color: #000000;
}

.subheadline-2 {
  @include font($fs: 27px, $fw: 400, $lh: 32.4px);
  color: #2a3647;
}

// add font-families!!!
