@import "./assets/fonts/inter.scss";
@import "./assets/fonts/open-sans.scss";
@import "./assets/fonts/poppins.scss";

@import "./mixins.scss";

@import "./assets/styles/background-colors.scss";
@import "./assets/styles/components.scss";
@import "./assets/styles/dialogs.scss";
@import "./assets/styles/scrollbars.scss";
@import "./assets/styles/tags.scss";

.headline-2 {
  @include font($fs: 61px, $fw: 700, $lh: 73.2px);
  color: $black;
}

.subheadline-2 {
  @include font($fs: 27px, $fw: 400, $lh: 32.4px);
  color: $dark;
}

.prim-btn {
  @include color-set($c: $white, $bgc: $dark);
  @include round-border($b: none, $br: 8px);
  transition: all 100ms ease-in-out;

  &:hover,
  &:focus-visible {
    background-color: $lightblue;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  &:active {
    background-color: $darker;
  }

  &:disabled {
    background-color: $dark;
    box-shadow: unset;
    opacity: 0.5;
  }
}

.sec-btn {
  @include color-set($c: $dark, $bgc: transparent);
  @include round-border($b: 1px solid $dark, $br: 8px);
  transition: all 100ms ease-in-out;

  &:hover {
    color: $lightblue;
    border: 1px solid $lightblue;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  &:active {
    color: $darker;
    border: 1px solid $darker;
  }

  &:disabled {
    color: $dark;
    border: 1px solid $dark;
    box-shadow: unset;
    opacity: 0.5;
  }
}

.error-cont {
  @include display-row($ai: center);
  height: 14px;
}

.error {
  @include font($fs: 12px, $fw: 400, $lh: 14.4px);
  font-family: $poppins;
  color: $hint;
}

.column-4 {
  @include display-column($g: 4px);
}

.column-8 {
  @include display-column($g: 8px);
}

.column-16 {
  @include display-column($g: 16px);
}

.column-24 {
  @include display-column($g: 24px);
}

.o-0 {
  opacity: 0;
}

.o-1 {
  opacity: 1;
}

.pos-relative {
  position: relative;
}

.user-story {
  background-color: #0038ff;
}

.technical-task {
  background-color: #1fd7c1;
}

.sum-card {
  @include color-set($c: $dark, $bgc: $white);
  border-radius: 30px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  transition: all 100ms ease-in-out;

  &:hover {
    @include color-set($c: $white, $bgc: $dark);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  &:active {
    @include color-set($c: $dark, $bgc: #f9f9f9);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}

.svg-icon {
  @include size($w: 100%, $h: 100%);
  display: block;
}

.svg-circle {
  fill: $dark;
  transition: all 100ms ease-in-out;

  .sum-card:hover & {
    fill: $white;
  }

  .sum-card:active & {
    fill: $dark;
  }
}

.svg-path-fill {
  fill: $white;
  transition: all 100ms ease-in-out;

  .sum-card:hover & {
    fill: $dark;
  }

  .sum-card:active & {
    fill: $white;
  }
}

.svg-path-stroke {
  stroke: $white;
  transition: all 100ms ease-in-out;

  .sum-card:hover & {
    stroke: $dark;
  }

  .sum-card:active & {
    stroke: $white;
  }
}

.board-add-btn {
  @include size($w: 24px, $h: 24px);
  padding: 0;
  background-image: url("/assets/img/board/add_framed.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: none;

  &:hover {
    background-image: url("/assets/img/board/add_framed_hover.png");
  }

  &:active {
    background-image: url("/assets/img/board/add_framed_active.png");
  }
}

.other-component {
  @include box-padding($p: 110px 96px);
  @include display-column($g: 32px);
  min-height: calc(100vh - 96px);
  color: $black;
}

.important-link {
  text-decoration: none;
  color: $lightblue;

  &:hover {
    text-decoration: underline;
  }
}

.c-lightblue {
  color: $lightblue;
}

.mobile {
  display: none;
}

@media (max-width: 1180px) {
  .headline-2 {
    @include font($fs: 47px, $fw: 700, $lh: 56.4px);
  }

  .subheadline-2 {
    @include font($fs: 20px, $fw: 400, $lh: 24px);
    color: $dark;
  }

  .prim-btn {
    &:hover,
    &:focus-visible {
      background-color: $dark;
      box-shadow: unset;
    }

    &:active {
      background-color: $lightblue;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    &:disabled {
      background-color: $dark;
      box-shadow: unset;
      opacity: 0.5;
    }
  }

  .sec-btn {
    &:hover {
      color: $dark;
      border: 1px solid $dark;
      box-shadow: unset;
    }

    &:active {
      color: $lightblue;
      border: 1px solid $lightblue;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    &:disabled {
      color: $dark;
      border: 1px solid $dark;
      box-shadow: unset;
      opacity: 0.5;
    }
  }

  .error-cont {
    height: 12px;
    justify-content: center;
  }

  .error {
    text-align: center;
  }

  .sum-card {
    @include color-set($c: $dark, $bgc: $white);
    border-radius: 20px;

    &:hover {
      @include color-set($c: $dark, $bgc: $white);
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      @include color-set($c: $white, $bgc: $dark);
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
  }

  .svg-icon {
    transition: all 100ms ease-in-out;

    .sum-card:active & {
      transform: scale(1.25);
    }
  }

  .svg-circle {
    .sum-card:hover & {
      fill: $dark;
    }

    .sum-card:active & {
      fill: $white;
    }
  }

  .svg-path-fill {
    .sum-card:hover & {
      fill: $white;
    }

    .sum-card:active & {
      fill: $dark;
    }
  }

  .svg-path-stroke {
    .sum-card:hover & {
      stroke: $white;
    }

    .sum-card:active & {
      stroke: $dark;
    }
  }

  .other-component {
    padding: 48px 32px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: unset;
  }
}

@media (max-width: 768px) {
  .other-component {
    padding: 48px 24px;
  }
}

@media (max-width: 568px) {
  .other-component {
    padding: 48px 16px;
  }
}
