@import "../../mixins.scss";

.input-component {
  @include display-column($g: 8px);
  transition: height 100ms ease-out;
}

.h-48 {
  height: 48px;
}

.h-70 {
  height: 70px;
}

.input {
  @include box-padding($p: 11px 54px 11px 20px);
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  @include color-set($c: $black, $bgc: $white);
  width: 100%;
  font-family: $inter;
  border-radius: 10px;
  transition: border 100ms ease-in-out;

  &::placeholder {
    color: $gray;
  }
}

.default {
  border: 1px solid $gray;

  &:focus {
    border: 1px solid $lightblue;
  }
}

.invalid {
  border: 1px solid $error;
}

.img {
  @include size($w: 24px, $h: 24px);
  @include position($pos: absolute, $t: 12px, $r: 21px);
}
