.lightblue {
  background-color: #29abe2;
}

.orange {
  background-color: #ff7a00;
}

.purple {
  background-color: #9327ff;
}

.blue {
  background-color: #6e52ff;
}

.magenta {
  background-color: #fc71ff;
}

.yellow {
  background-color: #ffbb2b;
}

.green {
  background-color: #1fd7c1;
}

.dark-blue {
  background-color: #462fba;
}

.red {
  background-color: #ff4646;
}

.cyan {
  background-color: #00bee8;
}
