<div class="card">
    <div class="urgent-task-cont">
        <div class="icon-frame">
            <img class="icon" src="../../../assets/img/summary/urgent.png" alt="urgent">
        </div>
        <div class="task-info">
            <span class="counter">{{ urgent }}</span>
            <span class="category">Urgent</span>
        </div>
    </div>
    <div class="urgent-vector-cont">
        <img class="urgent-vector" src="../../../assets/img/summary/task_vector.png" alt="task_vector">
    </div>
    <div class="date-deadline-cont">
        <span class="date">{{ deadline }}</span>
        <span class="deadline">Upcomoing Deadline</span>
    </div>
</div>