<div class="draggable-task" [ngClass]="getRotationClass()" draggable="true" (dragstart)="onDragStart()"
    (dragend)="onDragEnd()">
    <div [ngClass]="getTaskClass()">
        <div class="category" [ngClass]="getCategoryClass()">
            <span class="text">{{ task.category }}</span>
        </div>

        <div class="title-description-cont">
            <h4 class="title">{{ task.title }}</h4>
            <p class="description">{{ task.description }}</p>
        </div>

        <div *ngIf="areSubtasksExistent()" class="subtasks">
            <div class="progress-bar-max">
                <div [ngStyle]="progress" class="progress-bar"></div>
            </div>
            <div class="counter">
                <span>{{ counter }}/{{ max }} Subtasks</span>
            </div>
        </div>

        <div class="contacts-prio-cont">
            <div class="contacts">
                <div *ngFor="let contact of task.assignedTo" class="profile" [ngClass]="contact.bgc">
                    <span class="initials">{{ contact.initials }}</span>
                </div>
            </div>
            <img class="prio" [src]="getSrc()" [alt]="alt">
        </div>
    </div>
</div>