@import "../../../mixins.scss";

.dialog {
  @include size($w: 100%, $h: 100vh);
  @include display-flex();
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 10;
  visibility: visible;
  transition: all 100ms ease-in-out;
}

.closed {
  background-color: transparent;
  visibility: hidden;
}
