<div class="contact-list">
    <div class="head">
        <app-button [button]="addBtn" (click)="onAddContact()"></app-button>
    </div>

    <div class="collector">
        @for (section of register; track section.letter) {
        <div class="letter-border-cont">
            <div class="letter-cont">
                <span class="letter">{{ section.letter }}</span>
            </div>
            <div class="border-cont">
                <div class="border"></div>
            </div>
        </div>

        @for (contact of section.contacts; track contact.id) {
        <button class="contact" [ngClass]="getClass(contact)" (click)="onView(contact)">
            <div class="profile" [ngClass]="contact.bgc">
                <div class="h-14"><span class="initials">{{ contact.initials }}</span></div>
            </div>

            <div class="name-email-cont">
                <div class="h-24"><span class="name">{{ contact.name }}</span></div>
                <div class="h-19"><span class="email">{{ contact.email }}</span></div>
            </div>
        </button>
        }
        }
    </div>
</div>