@import "../../../../mixins.scss";

.contact-list {
  @include box-padding($p: 0 0 0 28px);
  @include size($w: 456px, $h: calc(100vh - 96px));
  background-color: $white;
  box-shadow: 4px 0 6px 0 rgba(0, 0, 0, 0.08);
  overflow-y: auto;
}

.head {
  @include box-padding($p: 32px 24px 8px 24px);
  background-color: $white;
  position: fixed;
}

.collector {
  @include box-padding($p: 96px 24px 32px 24px);
  @include display-column();
  max-width: 400px;
}

.letter-border-cont {
  @include display-column();
}

.letter-cont {
  padding: 17px 36px;
}

.letter {
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  color: $black;
}

.border-cont {
  @include display-flex();
  height: 16px;
}

.border {
  width: 100%;
  border-bottom: 1px solid $gray;
}
