@import "../../../../mixins.scss";

.contact-list {
  @include box-padding($p: 0 0 0 28px);
  @include size($w: 456px, $h: calc(100vh - 96px));
  background-color: $white;
  box-shadow: 4px 0 6px 0 rgba(0, 0, 0, 0.08);
  overflow-y: auto;
}

.head {
  @include box-padding($p: 32px 24px 8px 24px);
  background-color: $white;
  position: fixed;
}

.collector {
  @include box-padding($p: 96px 24px 32px 24px);
  @include display-column();
  max-width: 400px;
}

.letter-border-cont {
  @include display-column();
}

.letter-cont {
  padding: 17px 36px;
}

.letter {
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  color: $black;
}

.border-cont {
  @include display-flex();
  height: 16px;
}

.border {
  width: 100%;
  border-bottom: 1px solid $gray;
}

.contact {
  @include round-border($b: none, $br: 10px);
  @include display-row($g: 35px);
  padding: 15px 24px;
  width: 352px;
  text-align: left;
  background-color: $white;

  &:hover {
    background: linear-gradient(180deg, #f9f9f9 0%, #f0f0f0 100%);
  }
}

.selected {
  background-color: $dark;

  &:hover {
    background: $dark;
  }
}

.profile {
  @include min-size($w: 42px, $h: 42px);
  @include max-size($w: 42px, $h: 42px);
  @include round-border($b: 2px solid $white, $br: 45px);
  @include display-flex();
  box-sizing: border-box;
}

.h-14 {
  height: 14px;
}

.initials {
  @include font($fs: 12px, $fw: 400, $lh: 14.4px);
  text-align: center;
  color: $white;
}

.name-email-cont {
  @include display-column($g: 5px);
}

.h-24 {
  height: 24px;
}

.name {
  @include font($fs: 20px, $fw: 400, $lh: 24px);
  color: $black;

  .selected & {
    color: $white;
  }
}

.h-19 {
  height: 19px;
}

.email {
  @include font($fs: 16px, $fw: 400, $lh: 19.2px);
  color: #007cee;
}

.add-btn {
  @include box-padding($p: 12px);
  @include size($w: 56px, $h: 56px);
  @include round-border($b: none, $br: 46px);
  @include position($pos: sticky, $l: calc(100% - 16px), $b: 32px);
  background-color: $dark;
  background-image: url("/assets/img/contacts/add_new_contact.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: none;
  transition: all 100ms ease-in;

  &:active {
    background-color: $lightblue;
  }
}

@media (max-width: 1180px) {
  .contact-list {
    @include size($w: 100%, $h: fit-content);
    padding: unset;
    max-width: 400px;
    background-color: unset;
    box-shadow: unset;
    overflow-y: unset;
  }

  .head {
    display: none;
  }

  .collector {
    padding: 24px;
  }

  .contact {
    &:hover {
      background: unset;
    }

    &:active {
      background: linear-gradient(180deg, #f9f9f9 0%, #f0f0f0 100%);
    }
  }

  .selected {
    background-color: unset;

    &:hover {
      background: unset;
    }
  }

  .name {
    .selected & {
      color: $black;
    }
  }

  .add-btn {
    display: unset;
  }
}
