<div class="contact-list">
    <div class="head">
        <app-button [button]="addBtn" (click)="onAddContact()"></app-button>
    </div>

    <div class="collector">
        @for(section of register; track section.letter) {
        <div class="letter-border-cont">
            <div class="letter-cont">
                <span class="letter">{{ section.letter }}</span>
            </div>
            <div class="border-cont">
                <div class="border"></div>
            </div>
        </div>

        <app-viewable-contact *ngFor="let contact of section.contacts" [contact]="contact"></app-viewable-contact>
        }
    </div>
</div>